/**********************
form1 e form2.php
***********************/
*{
margin: 0;
padding: 0;
}
*:focus {
outline: none;
}
@font-face {
font-family: Avenir-Book;
font-style: normal;
font-weight: 600;
src: local('../fonts/AvenirLTStd-Light.woff'), url('../fonts/AvenirLTStd-Light.woff') format('woff');
}
html, body {
position: relative;
height: 100%;
width: 100%;
font-weight: 600;
}
body {
margin: 0;
padding: 0;
}
form{
height:100%;
}
.swiper-container {
width: 100%;
height: 100%;
}
.swiper-slide {
text-align: center;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.gradient {
display: block;
width: 100%;
padding: 0px;
margin: 0px;
}
#scroll-to{
padding-top: 40px;
margin-top: -40px;
}
input[type=radio] {
opacity:0;
}
/*Gifs animados "Como fazer uma selfie"*/
.gradient2 {
display: block;
width: 100%;
padding: 0px;
margin: 0px;
z-index: -1;
}
.gradient2:after {
content: '';
display:block;
width: 100%;
height: 100%;
background: url('../images/sorriso5fps.gif') center center;
background-size: cover;
opacity: 0.4;
z-index: -1;
}
.gradient3 {
display: block;
width: 100%;
padding: 0px;
margin: 0px;
z-index: -1;
}
.gradient3:after {
content: '';
display:block;
width: 100%;
height: 100%;
background: url('../images/semsorrir5fps.gif') center center;
background-size: cover;
opacity: 0.4;
z-index: -1;
}
.wrapper{
width:100%;
height:100%;
display:flex;
align-items:center;
justify-content:center;
-webkit-align-items:center;
-moz-align-items:center;
-webkit-justify-content:center;
-moz-justify-content:center;
z-index: -1;
}
/*Placeholder transparente*/
::-webkit-input-placeholder {
color:#fff;
opacity: 0.4;
font-family: Avenir-Book;
font-size:24px;
}
:-moz-placeholder {
color:#fff;
opacity: 0.4;
font-family: Avenir-Book;
font-size:24px; 
}
::-moz-placeholder {
color:#fff;
opacity: 0.4;
font-family: Avenir-Book;
font-size:24px;
}
:-ms-input-placeholder {
color:#fff;
opacity: 0.4;
font-family: Avenir-Book;
font-size:24px;
}
/**********************
SETAS
***********************/
ul.none {
list-style-type: none;
}
.vs-vertical-nav {
position: absolute;
z-index: 9999;
display: block;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
text-decoration: none;
}
.vs-vertical-nav a {
display: block;
overflow: hidden;
width: 40px;
height: 40px;
white-space: nowrap;
text-indent: 100%;
background: url('../images/arrows-downres.svg') no-repeat center center;
}
.vs-vertical-nav a.vs-prev {
display: block;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
}
.vs-vertical-nav1 {
position: absolute;
z-index: 9999;
display: block;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
text-decoration: none;
}
.vs-vertical-nav1 a {
display: block;
overflow: hidden;
width: 40px;
height: 40px;
white-space: nowrap;
text-indent: 100%;
background: url('../images/arrows-downres.svg') no-repeat center center;
}
.vs-vertical-nav1 a.vs-prev1 {
display: block;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
}
.vs-vertical-nav2 {
position: absolute;
z-index: 9999;
display: block;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
text-decoration: none;
}
.vs-vertical-nav2 a {
display: block;
overflow: hidden;
width: 40px;
height: 40px;
white-space: nowrap;
text-indent: 100%;
background: url('../images/arrows-downres.svg') no-repeat center center;
}
.vs-vertical-nav2 a.vs-prev2 {
display: block;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
}
/**********************
PROGRESS
***********************/
/*progress0*/
.progress0 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress0 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress0 progress::-webkit-progress-value { background-color: #fff; }
.progress0 progress::-moz-progress-bar { background-color: #fff; }
/*progress1*/
.progress1 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress1 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress1 progress::-webkit-progress-value { background-color: #fff; }
.progress1 progress::-moz-progress-bar { background-color: #fff; }
/*progress2*/
.progress2 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress2 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress2 progress::-webkit-progress-value { background-color: #fff; }
.progress2 progress::-moz-progress-bar { background-color: #fff; }
/*progress3*/
.progress3 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress3 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress3 progress::-webkit-progress-value { background-color: #fff; }
.progress3 progress::-moz-progress-bar { background-color: #fff; }
/*progress4*/
.progress4 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress4 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress4 progress::-webkit-progress-value { background-color: #fff; }
.progress4 progress::-moz-progress-bar { background-color: #fff; }
/*progress5*/
.progress5 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress5 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress5 progress::-webkit-progress-value { background-color: #fff; }
.progress5 progress::-moz-progress-bar { background-color: #fff; }
/*progress6*/
.progress6 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress6 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress6 progress::-webkit-progress-value { background-color: #fff; }
.progress6 progress::-moz-progress-bar { background-color: #fff; }
/*progress7*/
.progress7 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress7 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress7 progress::-webkit-progress-value { background-color: #fff; }
.progress7 progress::-moz-progress-bar { background-color: #fff; }
/*progress8*/
.progress8 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress8 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress8 progress::-webkit-progress-value { background-color: #fff; }
.progress8 progress::-moz-progress-bar { background-color: #fff; }
/*progress9*/
.progress9 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress9 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress9 progress::-webkit-progress-value { background-color: #fff; }
.progress9 progress::-moz-progress-bar { background-color: #fff; }
/*progress10*/
.progress10 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress10 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress10 progress::-webkit-progress-value { background-color: #fff; }
.progress10 progress::-moz-progress-bar { background-color: #fff; }
/*progress11*/
.progress11 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress11 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress11 progress::-webkit-progress-value { background-color: #fff; }
.progress11 progress::-moz-progress-bar { background-color: #fff; }
/*progress12*/
.progress12 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress12 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress12 progress::-webkit-progress-value { background-color: #fff; }
.progress12 progress::-moz-progress-bar { background-color: #fff; }
/*progress13*/
.progress13 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress13 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress13 progress::-webkit-progress-value { background-color: #fff; }
.progress13 progress::-moz-progress-bar { background-color: #fff; }
/*progress14*/
.progress14 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress14 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress14 progress::-webkit-progress-value { background-color: #fff; }
.progress14 progress::-moz-progress-bar { background-color: #fff; }
/*progress15*/
.progress15 progress { position:absolute; color:#FFFFFF; left:50%; height:5px; background: rgba(215,215,215,0.1); border: 1px solid #FFFFFF; border-radius: 8px; }
.progress15 progress::-webkit-progress-bar { background: rgba(215,215,215,0.1); }
.progress15 progress::-webkit-progress-value { background-color: #fff; }
.progress15 progress::-moz-progress-bar { background-color: #fff; }
.progress0 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress1 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress2 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress3 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress4 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress5 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress6 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress7 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress8 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress9 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress10 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress11 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress12 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress13 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress14 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
.progress15 progress { width:600px; top:95%; margin-left:-300px; z-index: 9999; }
/**********************
Extra small devices Phones (<768px) Landscape
***********************/
@media only screen and (max-width: 767px) and (orientation: landscape){
body {
background-image: url(../images/gire.png);
}
}
/**********************
Extra small devices Phones (<768px) Portrait
***********************/
@media only screen and (max-width: 767px) and (orientation: portrait){
/**********************
SETAS
***********************/
.vs-vertical-nav { top: 93%; right: 36%; }
.vs-vertical-nav1 { top: 93%; right: 45%; }
.vs-vertical-nav2 { top: 93%; right: 45%; }
.vs-vertical-nav a.vs-prev { margin-bottom: -40px; margin-left: 50px; }
/**********************
PROGRESS
***********************/
.progress1 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
.progress2 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
.progress3 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
.progress4 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
.progress5 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
.progress6 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
.progress7 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
.progress8 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
.progress9 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
.progress10 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
.progress11 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
.progress12 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
.progress13 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
.progress14 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
.progress15 progress { width:280px; top:5%; margin-left:-140px; z-index: 9999; }
}
/**********************
Small devices Tablets and Desktops (≥768px)
***********************/
@media only screen and (min-width: 768px) and (max-width: 991px){
.vs-vertical-nav { top: 50%; right: 2%; }
.vs-vertical-nav1 { top: 50%; right: 2%; }
.vs-vertical-nav2 { top: 50%; right: 2%; }
.vs-vertical-nav a.vs-prev { margin-bottom: 10px; }
}
/**********************
Medium devices Desktops (≥992px)
***********************/
@media only screen and (min-width: 992px) and (max-width: 1199px){
/**********************
SETAS
***********************/
.vs-vertical-nav { top: 50%; right: 2%; }
.vs-vertical-nav1 { top: 50%; right: 2%; }
.vs-vertical-nav2 { top: 50%; right: 2%; }
.vs-vertical-nav a.vs-prev { margin-bottom: 10px; }
}
/**********************
Large devices Desktops (≥1200px)
***********************/
@media only screen and (min-width: 1200px){
/*********************
DIVS DO PRIMEIRO FORMULÁRIO
**********************/
.div0{ position: absolute; top:45%; left:13%; width:80%; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.div1{ position: absolute; top:45%; left:27%; width:50%; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.div2{ position: absolute; top:45%; left:27%; width:50%; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.div3{ position: absolute; top:45%; left:13%; width:80%; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.div4{ position: absolute; top:45%; left:27%; width:50%; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.div5{ position: absolute; top:45%; left:27%; width:50%; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.div6{ position: absolute; top:35%; left:27%; width:50%; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.div7{ position: absolute; top:8%; left:27%; width:50%; z-index: 9999; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.div8{ position: absolute; top:8%; left:27%; width:50%; z-index: 9999; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.div9{ position: absolute; top:45%; left:27%; width:50%; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.div10{ position: absolute; top:45%; left:27%; width:50%; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.div11{ position: absolute; top:45%; left:27%; width:50%; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.div12{ position: absolute; top:45%; left:27%; width:50%; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.div13{ position: absolute; top:45%; left:27%; width:50%; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.div14{ position: absolute; top:25%; left:33%; width:50%; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
.pergunta h1{
font-family: Avenir-Book;
font-size: 32px;
color: #FFFFFF;
line-height: 40px;
font-weight: 600;
margin-bottom: 16px;
width:500px;
position: absolute;
left:50%;
margin-left: -250px;
margin-top: -120px;
text-align: left;
}
.input_box input[type="text"]{
background:rgba(215,215,215,0.30);
border:2px solid #ECECEC;
border-radius:8px;
width:500px;
height:80px;
padding-left:10px;
color:#fff;
font-family: Avenir-Book;
font-size:24px; 
text-transform: capitalize;
position: absolute;
left:50%;
margin-left:-250px;
}
.input_box input[type="email"]{
background:rgba(215,215,215,0.30);
border:2px solid #ECECEC;
border-radius:8px;
width:500px;
height:80px;
padding-left:10px;
color:#fff;
font-family: Avenir-Book;
font-size:24px; 
position: absolute;
left:50%;
margin-left:-250px;
}
.input_box input[type="date"] {
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
width: 500px;
height: 80px;
padding-left: 10px;
color:#fff;
font-family: Avenir-Book;
font-size:24px; 
position: absolute;
left:50%;
margin-left: -250px;
}
.input_box input[type="button"]{
background: transparent;
border:0px;
border-radius:8px;
height:60px;
width:60px;
position: absolute;
left:50%;
margin-left:270px;
margin-top:0px;
cursor: pointer;
}
img#seta{ width:60px; height:60px; position: absolute; left:50%; margin-left:270px; margin-top:10px; }
img#seta2{ width:60px; height:60px; position: absolute; left:50%; margin-left:270px; margin-top:10px; }
img#seta4{ width:60px; height:60px; position: absolute; left:50%; margin-left:270px; margin-top:10px; }
img#seta5{ width:60px; height:60px; position: absolute; left:50%; margin-left:270px; margin-top:10px; }
img#seta10{ width:60px; height:60px; position: absolute; left:50%; margin-left:270px; margin-top:10px; }
img#seta11{ width:60px; height:60px; position: absolute; left:50%; margin-left:270px; margin-top:10px; }
/* Responsável Legal */
.radio-label3 {
display:inline-block;
border: 2px solid #ECECEC;
border-radius: 8px;
width: 500px;
height: 80px;
color:#fff;
font-family: Avenir-Book;
font-size:24px; 
text-transform: capitalize;
position: absolute;
left:50%;
margin-left: -250px;
margin-top: -15px;
}
.radio-label4 {
display:inline-block;
border: 2px solid #ECECEC;
border-radius: 8px;
width: 500px;
height: 80px;
color:#fff;
font-family: Avenir-Book;
font-size:24px; 
text-transform: capitalize;
position: absolute;
left:50%;
margin-left: -250px;
margin-top: 100px;
}
.radio_0 + .radio-label3 span { display:inline-block; font-family: Avenir-Book; font-size: 25px; color: #FFFFFF; padding-top: 20px; margin-left: -390px; }
.radio_0 + .radio-label4 span { display:inline-block; font-family: Avenir-Book; font-size: 25px; color: #FFFFFF; padding-top: 20px; margin-left: -380px; }
.radio_0:checked + .radio-label3 { background:rgba(215,215,215,0.30); }
.radio_0:checked + .radio-label4 { background:rgba(215,215,215,0.30); }
.radio_0:checked + .radio-label3 span { font-family: Avenir-Book; font-size: 25px; color: #FFFFFF; padding-top: 20px; margin-left: -390px; }
.radio_0:checked + .radio-label4 span { font-family: Avenir-Book; font-size: 25px; color: #FFFFFF; padding-top: 20px; margin-left: -380px; }
/* Sexo */
.radio-label {
display:inline-block;
border: 2px solid #ECECEC;
border-radius: 8px;
width: 500px;
height: 80px;
color:#fff;
font-family: Avenir-Book;
font-size:24px; 
text-transform: capitalize;
position: absolute;
left:50%;
margin-left: -250px;
margin-top: -15px;
}
.radio-label2 {
display:inline-block;
border: 2px solid #ECECEC;
border-radius: 8px;
width: 500px;
height: 80px;
color:#fff;
font-family: Avenir-Book;
font-size:24px; 
text-transform: capitalize;
position: absolute;
left:50%;
margin-left: -250px;
margin-top: 100px;
}
.radio + .radio-label span { display:inline-block; font-family: Avenir-Book; font-size: 25px; color: #FFFFFF; padding-top: 20px; margin-left: -330px; }
.radio + .radio-label2 span { display:inline-block; font-family: Avenir-Book; font-size: 25px; color: #FFFFFF; padding-top: 20px; margin-left: -320px; }
.radio:checked + .radio-label { background:rgba(215,215,215,0.30); }
.radio:checked + .radio-label2 { background:rgba(215,215,215,0.30); }
.radio:checked + .radio-label span { font-family: Avenir-Book; font-size: 25px; color: #FFFFFF; padding-top: 20px; margin-left: -330px; }
.radio:checked + .radio-label2 span { font-family: Avenir-Book; font-size: 25px; color: #FFFFFF; padding-top: 20px; margin-left: -320px; }
/* Para começar, vamos precisar de duas fotos */
.div6_box h1{
font-family: Avenir-Book;
font-size: 32px;
color: #FFFFFF;
line-height: 40px;
font-weight: bold;
margin-bottom: 16px;
width:400px;
position: absolute;
left:50%;
margin-left: -200px;
margin-top: 20px;
}
.div6_box img{
width:60px;
height:60px;
position: absolute;
z-index: 9999;
left: 50%;
margin-left: -30px;
margin-top: 190px;
}
.div6_t img{
width:162px;
height: 136px;
}
/* A primeira, sorrindo */
.div7_t h1{
font-family: Avenir-Heavy;
color: #FFFFFF;
font-size: 32px;
line-height: 40px;
margin-bottom: 16px;
width:400px;
position: absolute;
left:50%;
margin-left: -200px;
margin-top: 50px;
}
.div7_t ol{
font-family: Avenir-Book;
font-size: 22px;
color: #FFFFFF;
line-height: 30px;
font-weight: 600;
margin-bottom: 16px;
text-align: left;
width:380px;
position: absolute;
left:50%;
padding-left: -50px;
margin-left: -140px;
margin-top: 350px;
}
.div7_t p{
font-family: Avenir-Book;
font-size: 15px;
color: #FFFFFF;
line-height: 24px;
font-weight: 600;
margin-bottom: 16px;
width:500px;
position: absolute;
left:50%;
margin-left: -250px;
margin-top: 500px;
}
.div7_box img{
width:93px;
height: 80px;
}
.div7_box h4{
font-family: Avenir-Book;
font-size: 18px;
color: #FFFFFF;
line-height: 24px;
font-weight: 600;
margin-bottom: 16px;
width:400px;
position: absolute;
left:50%;
margin-left: -200px;
margin-top: 300px;
}
.file-upload{
height:150px;
width:150px;
border-radius: 100px;
position:absolute;
left:50%;
margin-top: 140px;
margin-left: -75px;
text-align: center;
display:flex;
justify-content:center;
align-items: center; 
border:2px solid #FFFFFF;
overflow:hidden;
background-size: 100% 200%;
transition: all 1s;
color: #FFFFFF;
font-size:100px;
}
.div7_box input[type='file']{
height:200px;
width:200px;
position:absolute;
top:0;
left:0;
opacity:0;
cursor:pointer;
}
/* Agora sem sorrir */
.div8_t h1{
font-family: Avenir-Heavy;
color: #FFFFFF;
font-size: 32px;
line-height: 40px;
margin-bottom: 16px;
width:400px;
position: absolute;
left:50%;
margin-left: -200px;
margin-top: 50px;
}
.div8_t ol{
font-family: Avenir-Book;
font-size: 22px;
color: #FFFFFF;
line-height: 30px;
font-weight: 600;
margin-bottom: 16px;
text-align: left;
width:380px;
position: absolute;
left:50%;
padding-left: -50px;
margin-left: -140px;
margin-top: 350px;
}
.div8_t p{
font-family: Avenir-Book;
font-size: 15px;
color: #FFFFFF;
line-height: 24px;
font-weight: 600;
margin-bottom: 16px;
width:500px;
position: absolute;
left:50%;
margin-left: -250px;
margin-top: 500px;
}
.div8_box img{
width:93px;
height: 80px;
}
.div8_box h4{
font-family: Avenir-Book;
font-size: 18px;
color: #FFFFFF;
line-height: 24px;
font-weight: 600;
margin-bottom: 16px;
width:400px;
position: absolute;
left:50%;
margin-left: -200px;
margin-top: 300px;
}
.div8_box input[type='file']{
height:200px;
width:200px;
position:absolute;
top:0;
left:0;
opacity:0;
cursor:pointer;
}
.file-upload2{
height:150px;
width:150px;
border-radius: 100px;
position:absolute;
left:50%;
margin-top: 140px;
margin-left: -75px;
text-align: center;
display:flex;
justify-content:center;
align-items: center; 
border:2px solid #FFFFFF;
overflow:hidden;
background-size: 100% 200%;
transition: all 1s;
color: #FFFFFF;
font-size:100px;
}
/*Cor da Pele*/
.select-hidden4 {
display: none;
visibility: hidden;
padding-right: 10px;
}
.select4 {
cursor: pointer;
display: inline-block;
position: absolute;
font-size: 16px;
color: #fff;
width: 500px;
height: 70px;
margin-left: -250px;
}
.select-styled4 {
font-family: Avenir-Book;
font-size:24px;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(215,215,215,0.30);;
padding: 20px 10px;
border-radius: 5px;
border: 2px solid #fff;
-moz-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
-webkit-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
text-align: left;
}
.select-styled4:after {
content: "";
width: 0;
height: 0;
border: 7px solid transparent;
border-color: #fff transparent transparent transparent;
top: 30px;
position: absolute;
right: 10px;
}
.select-styled4:hover { background-color: rgba(215,215,215,0.30); }
.select-styled4:active, .select-styled4.active { background-color:rgba(215,215,215,0.30); }
.select-styled4:active:after, .select-styl4.active:after { top: 15px; border-color: transparent transparent #fff transparent; }
.select-options4 {
font-family: Avenir-Book;
font-size:16px;
line-height: 12px;
display: none;
position: absolute;
top: 100%;
right: 0;
left: 0;
z-index: 999;
margin: 0;
padding: 0;
list-style: none;
overflow: auto;
height: 220px;
border-radius: 5px;
border: 2px solid #fff;
background-color:rgba(215,215,215,0.30);
margin-top: 8px;
}
.select-options4 li {
margin: 0;
padding: 12px 0;
text-indent: 15px;
-moz-transition: all 0.15s ease-in;
-o-transition: all 0.15s ease-in;
-webkit-transition: all 0.15s ease-in;
transition: all 0.15s ease-in;
text-align: left;
}
.select-options4 li:hover { color: #fff; background:rgba(215,215,215,0.30); }
.select-options4 li[rel="hide"] { display: none; }
.select-options4::-webkit-scrollbar { width: 12px; }
.select-options4::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(215,215,215,0.30); color:#fff; border-radius: 10px; }
.select-options4::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 20px #fff; }
/* Bairro */
.select-hidden5 {
display: none;
visibility: hidden;
padding-right: 10px;
}
.select5 {
cursor: pointer;
display: inline-block;
position: absolute;
font-size: 16px;
color: #fff;
width: 500px;
height: 70px;
margin-left: -250px;
}
.select-styled5 {
font-family: Avenir-Book;
font-size:24px;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(215,215,215,0.30);;
padding: 20px 10px;
border-radius: 5px;
border: 2px solid #fff;
-moz-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
-webkit-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
text-align: left;
}
.select-styled5:after {
content: "";
width: 0;
height: 0;
border: 7px solid transparent;
border-color: #fff transparent transparent transparent;
top: 30px;
position: absolute;
right: 10px;
}
.select-styled5:hover { background-color: rgba(215,215,215,0.30); }
.select-styled5:active, .select-styled5.active { background-color:rgba(215,215,215,0.30); }
.select-styled5:active:after, .select-styl5.active:after { top: 15px; border-color: transparent transparent #fff transparent; }
.select-options5 {
font-family: Avenir-Book;
font-size:16px;
line-height: 12px;
display: none;
position: absolute;
top: 100%;
right: 0;
left: 0;
z-index: 999;
margin: 0;
padding: 0;
list-style: none;
overflow: auto;
height: 220px;
border-radius: 5px;
border: 2px solid #fff;
background-color:rgba(215,215,215,0.30);
margin-top: 8px;
}
.select-options5 li {
margin: 0;
padding: 12px 0;
text-indent: 15px;
-moz-transition: all 0.15s ease-in;
-o-transition: all 0.15s ease-in;
-webkit-transition: all 0.15s ease-in;
transition: all 0.15s ease-in;
text-align: left;
}
.select-options5 li:hover { color: #fff; background:rgba(215,215,215,0.30); }
.select-options5 li[rel="hide"] { display: none; }
.select-options5::-webkit-scrollbar { width: 12px; }
.select-options5::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(215,215,215,0.30); color:#fff; border-radius: 10px; }
.select-options5::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 20px #fff; }
/*Selecione uma modalidade para o cadastro*/
.div14_t h1{
font-family: Avenir-Book;
font-size: 32px;
color: #FFFFFF;
/*margin-bottom: 16px;*/
width:1000px;
position: absolute;
text-align: center;
left:50%;
margin-left: -500px;
margin-top: -120px;
}
.div14_box .thumbnail{
width:340px;
height:553px;
position: absolute;
left: 50%;
margin-left: -270px;/* Rectangle 2 Copy: */
background: #C957DE;
box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.30);
border: 1px solid #C957DE;
}
.div14_box .thumbnail .caption h3{
color: #fff;
border-top: 1px solid #fff; 
border-bottom: 1px solid #fff; 
padding-top: 10px;
padding-bottom: 10px;
width: 190px;
margin-left: 60px;
}
.div14_box .thumbnail .caption p{
font-family: Avenir-Book;
font-size: 14px;
color: #FFFFFF;
width: 200px;
margin-left: 65px;
line-height: 115%;
}
.div14_box .thumbnail .caption p.preco{
/* Por apenas 10x R$ 29: */
font-family: Avenir-Heavy;
font-size: 16px;
color: #FFFFFF;
width: 235px;
height: 66px;
margin-top: 130px;
text-align: left;
/*margin-left: 30px;*/
}
.div14_box .thumbnail .caption h2{  
margin-top: -55px;
margin-bottom: 20px;
color: #fff;
font-family: Avenir-Book;
font-size:  46px;
font-weight: bold;
margin-left: 30px;
}
.div14_box .thumbnail .caption h2 span{
color: #fff;
font-family: Avenir-Book;
font-size: 16px;
font-weight: bold;
}
.div14_box .thumbnail .caption ul{  
margin-top: 180px;
margin-bottom: 10px;
margin-left: 105px;
color: #fff;
font-family: Avenir-Book;
font-size:  46px;
font-weight: bold;
}
.div14_box .thumbnail .caption ul li{
color: #fff;
font-family: Avenir-Book;
font-size: 16px;
font-weight: bold;
/*margin-left: 10px;*/
}
.div14_box .thumbnail .caption ol { 
list-style-type: disc; 
color: #FFFFFF;
width:270px;
height: 78px;
text-align: left;
margin-left: 35px;
margin-top: 25px;/* Maiores cachês e pos: */
font-family: Avenir-Book;
font-size: 19.31px;
color: #FFFFFF;
} 
.div14_box .thumbnail .caption ol li { 
padding: 4px
} 
.div14_box2 .thumbnail{
width:340px;
height:553px;
position: absolute;
left: 50%;
margin-left: -650px;
background: #F75486;
box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.30);
border: 1px solid #F75486;
}
.div14_box2 .thumbnail .caption h3{
color: #fff;
border-top: 1px solid #fff; 
border-bottom: 1px solid #fff; 
padding-top: 10px;
padding-bottom: 10px;
width: 190px;
margin-left: 60px;
}
.div14_box2 .thumbnail .caption p{
font-family: Avenir-Book;
font-size: 14px;
color: #FFFFFF;
width: 200px;
margin-left: 65px;
/*line-height: 115%;*/
}
.div14_box2 .thumbnail .caption h4{  
margin-top: 170px;
color: #fff;
font-family: Avenir-Book;
font-size: 20px;
}
.div14_box2 .thumbnail .caption h2{  
margin-top: -5px;
margin-bottom: 33px;
color: #fff;
font-family: Avenir-Book;
font-size: 20px;
}
.div14_box2 .thumbnail .caption ol { 
list-style-type: disc; 
color: #FFFFFF;
width:280px;
height: 78px;
text-align: left;
margin-left: 27px;
margin-top: 25px;/* Maiores cachês e pos: */
font-family: Avenir-Book;
font-size: 19.31px;
color: #FFFFFF;
} 
.div14_box2 .thumbnail .caption ol li { 
padding: 2px
} 
.div14_box3 .thumbnail{
width:340px;
height:553px;
position: absolute;
left: 50%;
margin-left: 110px;/* Rectangle 2 Copy 2: */
background: #4AA4E2;
box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.30);
border: 1px solid #4AA4E2;
}
.div14_box3 .thumbnail .caption h3{
color: #fff;
border-top: 1px solid #fff; 
border-bottom: 1px solid #fff; 
padding-top: 10px;
padding-bottom: 10px;
width: 190px;
margin-left: 60px;
}
.div14_box3 .thumbnail .caption p{
font-family: Avenir-Book;
font-size: 14px;
color: #FFFFFF;
width: 200px;
margin-left: 65px;
/*line-height: 115%;*/
}
.div14_box3 .thumbnail .caption h2{  
margin-top: -50px;
margin-bottom: 27px;
color: #fff;
font-family: Avenir-Book;
font-size:  46px;
font-weight: bold;
margin-left: 30px;
}
.div14_box3 .thumbnail .caption h2 span{
color: #fff;
font-family: Avenir-Book;
font-size: 16px;
font-weight: bold;
}
.div14_box3 .thumbnail .caption ul{  
margin-top: 180px;
margin-bottom: 6px;
margin-left: 105px;
color: #fff;
font-family: Avenir-Book;
font-size:  46px;
font-weight: bold;
}
.div14_box3 .thumbnail .caption ul li{
color: #fff;
font-family: Avenir-Book;
font-size: 16px;
font-weight: bold;
}
.div14_box3 .thumbnail .caption ol { 
list-style-type: disc; 
color: #FFFFFF;
width:270px;
height: 78px;
text-align: left;
margin-left: 35px;
margin-top: 25px;/* Maiores cachês e pos: */
font-family: Avenir-Book;
font-size: 19.31px;
color: #FFFFFF;
} 
.div14_box3 .thumbnail .caption ol li { 
   padding: 4px
} 
.botao_modal3{
border: 1px solid #FFFFFF;
border-radius: 6px;
font-family: Avenir-Book;
font-size: 14px;
color: #FFFFFF;
background: transparent;
padding: 5px;
margin-top: -30px;
}
.botao_modal{
  /* Rectangle 4: */
border: 1px solid #FFFFFF;
border-radius: 6px;
/* escolher: */
font-family: Avenir-Book;
font-size: 14px;
color: #FFFFFF;
background: transparent;
padding: 5px;
margin-top: 2px;
}
.botao_modal2{
  /* Rectangle 4: */
border: 1px solid #FFFFFF;
border-radius: 6px;
/* escolher: */
font-family: Avenir-Book;
font-size: 14px;
color: #FFFFFF;
background: transparent;
padding: 5px;
margin-top: -18px;
}
div.conteudo_modal
{
background: #C957DE;
border-radius: 0;/* Rectangle 2: */
background: #C957DE;
box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.30);
border: 1px solid #C957DE;
width:1200px;
height:695px;
}
#myModal{
position: absolute;
z-index: 9999;
width:1200px;
height:695px;
left: 50%;
top:50%;
margin-left: -600px;
margin-top: -350px;
}
.modal_esquerda{
width: 300px;
height: 490px;
float: left;
}
.modal_esquerda h3{
color: #fff;
border-top: 1px solid #fff; 
border-bottom: 1px solid #fff; 
padding-top: 10px;
padding-bottom: 10px;
padding-left: 50px;
width: 190px;
margin-left: 80px;
margin-top: 40px;
}
.modal_esquerda p{
font-family: Avenir-Book;
font-size: 14px;
color: #FFFFFF;
width: 200px;
margin-left: 75px;
text-align: center;
}
.modal_esquerda p.preco{
/* Por apenas 10x R$ 29: */
font-family: Avenir-Heavy;
font-size: 16px;
color: #FFFFFF;
width: 235px;
height: 66px;
margin-top: 130px;
text-align: left;
margin-left: 25px;
margin-left: 55px;
}
.modal_esquerda ol { 
list-style-type: disc; 
color: #FFFFFF;
width:270px;
height: 78px;
text-align: left;
margin-left: 35px;
margin-top: 25px;/* Maiores cachês e pos: */
font-family: Avenir-Book;
font-size: 19.31px;
color: #FFFFFF;
margin-left: 50px;
} 
.modal_esquerda ol li { 
   padding: 10px
} 
.modal_esquerda h2{  
margin-top: -50px;
margin-bottom: 26px;
color: #fff;
font-family: Avenir-Book;
font-size:  46px;
font-weight: bold;
}
.modal_esquerda h2 span{
color: #fff;
font-family: Avenir-Book;
font-size: 16px;
font-weight: bold;
}
.modal_esquerda ul{  
margin-top: 190px;
margin-bottom: 5px;
margin-left: 90px;
color: #fff;
font-family: Avenir-Book;
font-size:  46px;
font-weight: bold;
}
.modal_esquerda ul li{
color: #fff;
font-family: Avenir-Book;
font-size: 16px;
font-weight: bold;
}
.modal_direita{
width: 420px;
height: 690px;
padding-bottom: 600px;
float: right;
margin-right:370px;
}
.modal_direita h3{
/* Termos e Condições: */
font-family: Avenir-Book;
font-size: 22px;
color: #FFFFFF;
text-align: left;
margin-top: 55px;
width: 201px;
margin-left: 60px;
}
.modal_direita ol li { 
padding: 2px;
width:280px;
margin-left: -5px;
} 
.modal_direita ol { 
color: #FFFFFF;
text-align: left;
margin-top: 30px;
font-family: Avenir-Book;
font-size: 15px;
color: #FFFFFF;
margin-left: 70px;
} 
.termo_um{
float: left;
  width:20%;
}
.termo_dois{
float: right;
  width:20%;
}
p.descricao_contrato{
font-family: Avenir-Book;
font-size: 11px;
color: #FFFFFF;
width:250px;
margin-left: 65px;
margin-top: 30px;
}
.button{
border-radius: 6px;
color: #FFFFFF;
border: 1px solid #FFFFFF;
margin-top: 30px;
margin-left: 120px;
width: 101px;
height:31px;
cursor: pointer;
}
.button input[type="radio"] {
display: none;
}
.button input[type="radio"] + label {
padding-left: 7px;
padding-top: 5px;
font-family: Avenir-Book;
font-size: 14px;
color: #FFFFFF;
cursor: pointer;
}
.button input[type="radio"]:checked + label {
background: rgba(215,215,215,0.30);
width: 101px;
height:31px;
}
#menos_d {
content:url(../images/menos.svg);
position: absolute;
right: 10px;
top: 10px;
width: 30px;
height: 30px;
cursor: pointer;
text-align: center;
background: #C957DE;
}
div.conteudo_modal2 {
background: #F75486;
border-radius: 0;
box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.30);
border: 1px solid #F75486;
width:1200px;
height:695px;
}
#myModal2{
position: absolute;
z-index: 9999;
width:1200px;
height:695px;
left: 50%;
top:50%;
margin-left: -600px;
margin-top: -350px;
}
.modal_esquerda2{
width: 300px;
height: 490px;
float: left;
}
.modal_esquerda2 h3{
color: #fff;
border-top: 1px solid #fff; 
border-bottom: 1px solid #fff; 
padding-top: 10px;
padding-bottom: 10px;
padding-left: 50px;
width: 190px;
margin-left: 80px;
margin-top: 40px;
}
.modal_esquerda2 h2{
color: #fff;
font-family: Avenir-Book;
font-size: 20px; 
margin-left: 100px;
margin-top: -5px;
}
.modal_esquerda2 h4{
margin-top: 200px;
margin-left: 90px;
color: #fff;
font-family: Avenir-Book;
font-size: 20px;
}
.modal_esquerda2 p{
font-family: Avenir-Book;
font-size: 14px;
color: #FFFFFF;
width: 200px;
margin-left: 75px;
text-align: center;
}
.modal_esquerda2 p.preco2{
/* Por apenas 10x R$ 29: */
font-family: Avenir-Heavy;
font-size: 16px;
color: #FFFFFF;
width: 235px;
height: 66px;
margin-top: 130px;
text-align: left;
margin-left: 25px;
margin-left: 55px;
}
.modal_esquerda2 ol { 
list-style-type: disc; 
color: #FFFFFF;
width:270px;
height: 78px;
text-align: left;
margin-left: 35px;
margin-top: 25px;/* Maiores cachês e pos: */
font-family: Avenir-Book;
font-size: 19.31px;
color: #FFFFFF;
margin-left: 50px;
} 
.modal_esquerda2 ol li { 
   padding: 10px
} 
.modal_direita2{
width: 420px;
height: 690px;
padding-bottom: 600px;
float: right;
margin-right:370px;
margin-top: -20px;
}
.modal_direita2 h3{
/* Termos e Condições: */
font-family: Avenir-Book;
font-size: 22px;
color: #FFFFFF;
text-align: left;
margin-top: 75px;
width: 201px;
}
.modal_direita2 ol li { 
padding: 2px;
width:280px;
margin-left: -65px;
/*line-height: 150%;*/
} 
.modal_direita2 ol { 
color: #FFFFFF;
text-align: left;
margin-top: 30px;
font-family: Avenir-Book;
font-size: 15px;
color: #FFFFFF;
margin-left: 70px;
margin-bottom: 30px;
} 
.termo_um2{
float: left;
width:20%;
}
.termo_dois2{
float: right;
width:20%;
}
p.descricao_contrato2{
  /* Clicando abaixo você: */
font-family: Avenir-Book;
font-size: 11px;
color: #FFFFFF;
width:250px;
margin-left: 10px;
margin-top: 30px;
}
div.button2{
border-radius: 6px;
color: #FFFFFF;
border: 1px solid #FFFFFF;
margin-top: 20px;
margin-left: 80px;
width: 101px;
height:31px;
cursor: pointer;
}
.button2 input[type="radio"] {
    display: none;
}
.button2 input[type="radio"] + label {
padding-left: 7px;
padding-top: 5px;
font-family: Avenir-Book;
font-size: 14px;
color: #FFFFFF;
cursor: pointer;
}
.button2 input[type="radio"]:checked + label {
background: rgba(215,215,215,0.30);
width: 101px;
height:31px;
cursor: pointer;
}
#menos2_d {
content:url(../images/menos.svg);
position: absolute;
right: 10px;
top: 10px;
width: 30px;
height: 30px;
cursor: pointer;
text-align: center;
/*background: #F75486;*/
}
/*MODAL PROFISSIONAL*/
div.conteudo_modal3
{
background: #4AA4E2;
border-radius: 0;
box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.30);
border: 1px solid #4AA4E2;
width:1200px;
  height:695px;
}
#myModal3{
position: absolute;
z-index: 9999;
width:1200px;
height:695px;
left: 50%;
top:50%;
margin-left: -600px;
margin-top: -350px;
}
.modal_esquerda3{
width: 300px;
height: 490px;
float: left;
}
.modal_esquerda3 h3{
color: #fff;
border-top: 1px solid #fff; 
border-bottom: 1px solid #fff; 
padding-top: 10px;
padding-bottom: 10px;
padding-left: 30px;
width: 190px;
margin-left: 80px;
margin-top: 40px;
}
.modal_esquerda3 p{
font-family: Avenir-Book;
font-size: 14px;
color: #FFFFFF;
width: 200px;
margin-left: 75px;
text-align: center;
}
.modal_esquerda3 p.preco3{
/* Por apenas 10x R$ 29: */
font-family: Avenir-Heavy;
font-size: 16px;
color: #FFFFFF;
width: 235px;
height: 66px;
margin-top: 130px;
text-align: left;
margin-left: 55px;
}
.modal_esquerda3 ol { 
list-style-type: disc; 
color: #FFFFFF;
width:270px;
height: 78px;
text-align: left;
margin-left: 35px;
margin-top: 10px;/* Maiores cachês e pos: */
font-family: Avenir-Book;
font-size: 19.31px;
color: #FFFFFF;
margin-left: 50px;
} 
.modal_esquerda3 ol li { 
   padding: 10px
} 
.modal_direita3{
width: 420px;
height: 690px;
padding-bottom: 600px;
float: right;
margin-right:370px;
}
.modal_esquerda3 h2{  
margin-top: -50px;
margin-bottom: 26px;
margin-left: 25px;
color: #fff;
font-family: Avenir-Book;
font-size:  46px;
font-weight: bold;
}
.modal_esquerda3 h2 span{
color: #fff;
font-family: Avenir-Book;
font-size: 16px;
font-weight: bold;
}
.modal_esquerda3 ul{  
margin-top: 250px;
margin-bottom: 5px;
margin-left: 100px;
color: #fff;
font-family: Avenir-Book;
font-size:  46px;
font-weight: bold;
}
.modal_esquerda3 ul li{
color: #fff;
font-family: Avenir-Book;
font-size: 16px;
font-weight: bold;
}
.modal_direita3 h3{
/* Termos e Condições: */
font-family: Avenir-Book;
font-size: 22px;
color: #FFFFFF;
text-align: left;
margin-top: 55px;
width: 201px;
}
.modal_direita3 ol li { 
padding: 2px;
width:280px;
margin-left: -65px;
} 
.modal_direita3 ol { 
color: #FFFFFF;
text-align: left;
margin-top: 30px;
font-family: Avenir-Book;
font-size: 15px;
color: #FFFFFF;
margin-left: 70px;
}
.termo_um3{
float: left;
  width:20%;
}
.termo_dois3{
float: right;
  width:20%;
}
p.descricao_contrato3{
 /* Clicando abaixo você: */
font-family: Avenir-Book;
font-size: 11px;
color: #FFFFFF;
width:250px;
margin-left: 20px;
margin-top: 30px;
}
div.button3{
border-radius: 6px;
color: #FFFFFF;
border: 1px solid #FFFFFF;
margin-top: 10px;
margin-left: 80px;
width: 101px;
height:31px;
cursor: pointer;
}
.button3 input[type="radio"] {
display: none;
}
.button3 input[type="radio"] + label {
padding-left: 7px;
padding-top: 5px;
font-family: Avenir-Book;
font-size: 14px;
color: #FFFFFF;
cursor: pointer;
}
.button3 input[type="radio"]:checked + label {
background: rgba(215,215,215,0.30);
width: 101px;
height:31px;
cursor: pointer;
}
#menos3_d {
content:url(../images/menos.svg);
position: absolute;
right: 10px;
top: 10px;
width: 30px;
height: 30px;
cursor: pointer;
text-align: center;
}
#menos3_d i {
font-size: 30px;
color: #4AA4E2;
background-color: #fff;
padding-top: 1px;
padding-bottom: 1px;
padding-left: 1px;
padding-right: 1px;
border-radius: 100%;
}
.versao_m{
  display: none;
}
/*FIM MODAL PROFISSIONAL*/
/**********************
SETAS
***********************/
.vs-vertical-nav { top: 50%; right: 2%; }
.vs-vertical-nav1 { top: 50%; right: 2%; }
.vs-vertical-nav2 { top: 50%; right: 2%; }
.vs-vertical-nav a.vs-prev { margin-bottom: 10px; }
}