*{ margin:0; padding:0; }
*:focus{ outline:none; }
@font-face { font-family:Avenir-Book; src: url('../fonts/AvenirLTStd-Light.eot'); src: url('../fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirLTStd-Light.woff') format('woff'), url('../fonts/AvenirLTStd-Light.ttf') format('truetype'), url('../fonts/AvenirLTStd-Light.svg#a3894d49b0c62da6d619d8a85ab36753') format('svg'); font-style: normal; font-weight: 600; }
html, body{ position:relative; height:100%; width:100%; font-weight: 600; }
body{ margin:0; padding:0; }
#gradient5 { display: block; width: 100%; padding: 0px; margin: 0px; }
.wrapper_segunda{ margin-top: 10px; position: absolute; top: calc(40% - 100px); left:50%; margin-left: -600px; width:600px; }
.container{ position: absolute; z-index: 9999; }
.row .primeiro{ margin-bottom: 90px; }
.row .primeiro a{ font-family:Avenir-Book; font-size: 25px; color: #FFFFFF; font-weight: 600; text-align: left; border: 2px solid #ECECEC; border-radius: 8px; width:488px; height:79px; padding-bottom: 10px; padding-top: 20px; position: absolute; left:50%; margin-left: -234px; background-color:rgba(215,215,215,0.30); }
.row .primeiro span{ margin-left: 180px; width:18px; height:23px; position: absolute; left:50%; }
.row .primeiro a:hover{ background: rgba(215,215,215,0.60); }
.row .segunda a{ font-family:Avenir-Book; font-size: 25px; color: #FFFFFF; font-weight: 600; text-align: left; border: 2px solid #ECECEC; border-radius: 8px; width:488px; height:79px; padding-bottom: 10px; padding-top: 20px; position: absolute; left:50%; margin-left: -234px; background-color:rgba(215,215,215,0.30); }
.row .segunda span{ margin-left: 180px; width:18px; height:23px; position: absolute; left:50%; }
.row .segunda a:hover{ background: rgba(215,215,215,0.60); }
/*.btn span{ display:inline-block; font-family:Avenir-Book; font-size:25px; color:#FFFFFF; padding-top:20px; margin-left:-380px; }*/
.pergunta h1{ font-family:Avenir-Book; font-size:32px; color:#FFFFFF; line-height:40px; font-weight:600; margin-bottom:16px; width:500px; position:absolute; left:50%; margin-left:-250px; margin-top:-120px; text-align:left; }
/**********************
Extra small devices Phones (<768px) Landscape
***********************/
@media only screen and (max-width:767px) and (orientation:landscape){
}
/**********************
Extra small devices Phones (<340px) Portrait
***********************/
@media only screen and (max-width:340px) and (orientation:portrait){
}
/**********************
Small devices Phones (<768px) Portrait
***********************/
@media only screen and (min-width:341px) and (orientation:portrait) and (max-width:767px){
}
/**********************
Tablets and Desktops (≥768px)
***********************/
@media only screen and (min-width:768px) and (max-width:991px){
}
/**********************
Medium devices Desktops (≥992px)
***********************/
@media only screen and (min-width:992px) and (max-width:1199px){
}
/**********************
Large devices Desktops (≥1200px)
***********************/
@media only screen and (min-width:1200px) and (max-width:1399px){
}
/**********************
Extra Large devices Desktops (≥1400px)
***********************/
@media only screen and (min-width:1400px){