*{
margin: 0;
padding: 0;
}
@font-face{ font-family:Avenir-Book; font-style:normal; font-weight:600; src:local('../fonts/AvenirLTStd-Light.woff'), url('../fonts/AvenirLTStd-Light.woff') format('woff'); }
html, body {
position: relative;
height: 100%;
width: 100%;
font-weight:600;
}
body {
margin: 0;
padding: 0;
}
.pergunta h1{ font-family:Avenir-Book; font-size:32px; color:#FFFFFF; line-height:40px; font-weight:600; margin-bottom:16px; width:500px; position:absolute; left:50%; margin-left:-250px; margin-top:-120px; text-align:left; }
.footer {
position: absolute;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 52px;
font-size:24px;
background: rgba(215,215,215,0.70);
font-family: Avenir-Book;
color: #ffffff;
padding: 10px;
}
.footer a {
/* PULAR INTRODUÇÃO: */
font-family: Avenir-Book;
font-size: 16px;
color: #FFFFFF;
line-height: 23px;
position: absolute;
z-index: 9999;
text-align: center;
text-decoration: none;
width:200px;
margin-left:-100px;
left:50%;
}
.footer a:hover{
color: #ffffff;
text-decoration: none;
}
.swiper-container {
width: 100%;
height: 100%;
}
.swiper-slide {
text-align: center;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper-pagination{
color: #fff;
background: transparent;
margin-bottom: 50px;
}
.swiper-pagination-bullet {
width: 10px;
height: 10px;
background: none;
border:1px solid #fff;
opacity:1;
cursor: pointer;
}
.swiper-pagination-bullet-active {
background: #fff;
border-color: #fff;
}  
#gradient {
display: block;
width: 100%;
padding: 0px;
margin: 0px;
}
#gradient:after {
content: '';
display:block;
width: 100%;
height: 100%;
background: url('../images/img-DSC_2882-contraste.png') center center;
background-size: cover;
opacity: 0.4;
}
#gradient2 {
display: block;
width: 100%;
padding: 0px;
margin: 0px;
}
#gradient2:after {
content: '';
display:block;
width: 100%;
height: 100%;
background: url('../images/img-DSC6681.png') center center;
background-size: cover;
opacity: 0.4;
}
#gradient3 {
display: block;
width: 100%;
padding: 0px;
margin: 0px;
}
#gradient3:after {
content: '';
display:block;
width: 100%;
height: 100%;
background: url('../images/img-DSC6550.png') center center;
background-size: cover;
opacity: 0.4;
}
#gradient4 {
display: block;
width: 100%;
padding: 0px;
margin: 0px;
}
#gradient4:after {
content: '';
display:block;
width: 100%;
height: 100%;
background: url('../images/img-DSC_3304.png') center center;
background-size: cover;
opacity: 0.4;
}
#gradient5 {
display: block;
width: 100%;
padding: 0px;
margin: 0px;
}
.logo img{
z-index: 9999;
top: 5%;
right: 10%;
left:80%;
bottom: auto;
display: block;
position: absolute;
}
.container{
position: absolute;
z-index: 9999;
}
.slide1{
margin-top: 10px;
position: absolute;
top: calc(50% - 200px);
}
.slide2{
margin-top: 10px;
position: absolute;
top: calc(50% - 100px);
}
.slide4{
margin-top: 10px;
position: absolute;
top: calc(50% - 100px);
}
.wrapper_segunda{
margin-top: 10px;
position: absolute;
top: calc(40% - 100px);
left:50%;
margin-left: -600px;
width:600px;
}
.row .col-md-4 h1{
/* Prazer! Copy 2: */
font-family: Avenir-Book;
font-size: 56px;
color: #FFFFFF;
line-height: 76px;
color: #fff;
text-align: justify;
/*text-align: center;*/
font-weight: 600;
}
.row .col-md-12 h1{
/* Quem você está cadas: */
font-family: Avenir-Book;
font-size: 32px;
color: #FFFFFF;
line-height: 44px;
text-align: justify;
text-align: center;
font-weight: 600;
margin-bottom:55px;/*
width:486px;
left:50%;
margin-left: -243px;
position: absolute;
top:10%;*/
}
.row .primeiro{
margin-bottom: 113px;
}
.row .primeiro a{
/* Eu mesm@, sou maior : */
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 34px;
text-align: justify;
text-align: left;
background: transparent;
border: 2px solid #ECECEC;
border-radius: 8px;
width:488px;
height:79px;
padding-bottom: 10px;
padding-top: 20px;
position: absolute;
left:50%;
margin-left: -234px;
}
.row .primeiro span{
margin-left: 180px;
width:18px;
height:23px;
position: absolute;
left:50%;
}
.row .primeiro a:active{
background: rgba(215,215,215,0.30);
}
.row .segunda a{
/* Eu mesm@, sou maior : */
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 34px;
text-align: justify;
text-align: left;
background: transparent;
border: 2px solid #ECECEC;
border-radius: 8px;
width:488px;
height:79px;
padding-bottom: 10px;
padding-top: 20px;
position: absolute;
left:50%;
margin-left: -234px;
}
.row .segunda span{
margin-left: 180px;
width:18px;
height:23px;
position: absolute;
left:50%;
}
.row .segunda a:active{
background: rgba(215,215,215,0.30);
}
.row .col-md-4 p{
/* Prazer! Copy 2: */
font-family: Avenir-Book;
font-size: 32px;
color: #FFFFFF;
line-height: 44px;
text-align: left;
font-weight: 600;
padding-left: 115px;
}
.row .col-md-4 a{
font-family: Avenir-Book;
font-size: 16px;
line-height: 39px;
text-transform: uppercase;
text-align: justify;
text-align: left;
color:#fff;
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
width:123px;
height:40px;
padding-bottom: 41px;
margin-left: -38px;
margin-top: -20px;
}
.row .col-md-4 span{
margin-left: -60px;
}
.row .col-md-4 span img{
margin-top: -5px;
width: 81px;
height: 84px;
}
@media only screen and (max-width: 1200px){
.wrapper_segunda{
margin-top: 10px;
position: absolute;
top: calc(40% - 100px);
left:50%;
margin-left: -500px;
width:600px;
}
.row .col-md-4 p{
/* Prazer! Copy 2: */
font-family: Avenir-Book;
font-size: 32px;
color: #FFFFFF;
line-height: 44px;
text-align: left;
font-weight: 600;
padding-left: 75px;
width: 400px;
}
.row .col-md-4 a{
font-family: Avenir-Book;
font-size: 16px;
line-height: 39px;
text-transform: uppercase;
text-align: justify;
text-align: left;
color:#fff;
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
width:123px;
height:40px;
padding-bottom: 41px;
margin-left: -30px;
margin-top: -20px;
}
.row .col-md-4 span{
margin-left: -55px;
}
.row .col-md-4 span img{
margin-top: -5px;
width: 81px;
height: 84px;
}
}
@media only screen and (max-width: 1999px){
.row .col-md-4 h1{
/* Prazer! Copy 2: */
font-family: Avenir-Book;
font-size: 56px;
color: #FFFFFF;
line-height: 76px;
color: #fff;
text-align: justify;
text-align: center;
font-weight: 600;
margin-left: 50px;
}
.row .col-md-4 a{
font-family: Avenir-Book;
font-size: 16px;
line-height: 39px;
text-transform: uppercase;
text-align: justify;
text-align: left;
color:#fff;
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
width:123px;
height:40px;
padding-bottom: 41px;
margin-left: 28px;
margin-top: -20px;
}
}
@media only screen and (max-width: 994px){
.logo img{
position: absolute;
z-index: 9999;
top: 5%;
right: 10%;
left:70%;
bottom: auto;
display: block;
position: absolute;
}
.wrapper_segunda{
margin-top: 10px;
position: absolute;
top: calc(40% - 100px);
left:50%;
margin-left: -400px;
width:600px;
}
.row .col-md-4 h1{
/* Prazer! Copy 2: */
font-family: Avenir-Book;
font-size: 56px;
color: #FFFFFF;
line-height: 76px;
color: #fff;
text-align: justify;
/*text-align: center;*/
font-weight: 600;
margin-left: -5px;
}
.row .col-md-4 a{
font-family: Avenir-Book;
font-size: 16px;
line-height: 39px;
text-transform: uppercase;
text-align: justify;
text-align: left;
color:#fff;
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
width:123px;
height:40px;
padding-bottom: 41px;
margin-left: -28px;
margin-top: -20px;
}
}
@media only screen and (max-width: 768px){
.slide1{
margin-top: 10px;
position: absolute;
top: calc(50% - 100px);
left:5%;
right: 0;
}
.slide2{
margin-top: 10px;
position: absolute;
top: calc(50% - 100px);
left:5%;
right: 0;
}
.slide4{
margin-top: 10px;
position: absolute;
top: calc(50% - 100px);
left:5%;
right: 0;
}
.row .col-md-4 h1{
/* Prazer! Copy 2: */
font-family: Avenir-Book;
font-size: 56px;
color: #FFFFFF;
line-height: 76px;
color: #fff;
text-align: justify;
text-align: center;
font-weight: 600;
margin-left: -45px;
}
.row .col-md-4 a{
font-family: Avenir-Book;
font-size: 16px;
line-height: 39px;
text-transform: uppercase;
text-align: justify;
text-align: left;
color:#fff;
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
width:123px;
height:40px;
padding-bottom: 41px;
margin-left: -75px;
margin-top: -20px;
}
.row .col-md-4 p{
/* Prazer! Copy 2: */
font-family: Avenir-Book;
font-size: 32px;
color: #FFFFFF;
line-height: 44px;
text-align: left;
font-weight: 600;
padding-left: 65px;
width: 400px;
}
}
@media only screen and (max-width: 767px){
.wrapper_segunda{
margin-top: 10px;
position: absolute;
top: calc(40% - 100px);
left:50%;
margin-left: -150px;
width:300px;
}
.row .col-md-4 p{
/* Prazer! Copy 2: */
font-family: Avenir-Book;
font-size: 32px;
color: #FFFFFF;
line-height: 44px;
text-align: left;
font-weight: 600;
padding-left: 85px;
width: 400px;
}
}
@media only screen and (max-width: 600px){
.slide1{
width:250px;
height:100px;
position:absolute;
top:50%;
left:50%;
margin-top:-150px;
margin-left:-100px;
}
.slide2{
width:250px;
height:100px;
position:absolute;
top:50%;
left:50%;
margin-top:-50px;
margin-left:-100px;
}
.slide4{
width:250px;
height:100px;
position:absolute;
top:50%;
left:50%;
margin-top:-50px;
margin-left:-125px;
}
.wrapper_segunda{
margin-top: 10px;
position: absolute;
top: calc(40% - 100px);
left:50%;
margin-left: -270px;
width:200px;
}
.row .col-md-4 a{
font-family: Avenir-Book;
font-size: 15px;
color: #FFFFFF;
line-height: 35px;
text-transform: uppercase;
text-align: justify;
text-align: left;
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
width:108px;
height:21px;
padding-bottom: 35px;
margin-left: -115px;
}
.row .col-md-4 span{
margin-left: -55px;
}
.row .col-md-4 span img{
margin-top: -5px;
width: 81px;
height: 84px;
}
.row .col-md-4 h1{
/* Prazer! Copy 2: */
font-family: Avenir-Book;
font-size: 56px;
color: #FFFFFF;
line-height: 34px;
color: #fff;
text-align: justify;
text-align: center;
font-weight: 600;
margin-left: -55px;
margin-bottom: 30px;
}
.row .col-md-4 p{
/* Prazer! Copy 2: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 34px;
text-align: center;
font-weight: 600;
margin-left: -150px;
width: 400px;
}
.logo img{
position: absolute;
z-index: 9999;
top: 5%;
right: 10%;
left:64%;
bottom: auto;
display: block;
position: absolute;
width:100px;
height: 57px;
}
.row .col-md-12 h1{
/* Quem você está cadas: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
text-align: justify;
text-align: center;
font-weight: 600;
margin-bottom:55px;
width:305px;
margin-left: 80px;
}
.row .primeiro {
/* Rectangle 9 Copy: */
background: transparent;
border: 2px solid #ECECEC;
border-radius: 8px;
width:265px;
height:78px;
margin-left: 120px;
}
.row .primeiro a{
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 27px;
text-align: justify;
text-align: left;
background:transparent;
border: 2px solid transparent;
border-radius: none;
width:190px;
height:78px;
position: absolute;
left:50%;
margin-left: -130px;
white-space: pre-line; 
margin-top: -35px;
}
.row .primeiro span{
margin-left: 70px;
width:18px;
height:23px;
position: absolute;
left:50%;
}
.row .primeiro a:active{
background: transparent;
}
.row .segunda {
/* Rectangle 9 Copy: */
background: transparent;
border: 2px solid #ECECEC;
border-radius: 8px;
width:265px;
height:78px;
margin-left: 120px;
margin-top: -80px;
}
.row .segunda a{
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 27px;
text-align: justify;
text-align: left;
background:transparent;
border: 2px solid transparent;
border-radius: none;
width:180px;
height:78px;
position: absolute;
left:50%;
margin-left: -130px;
white-space: pre-line; 
margin-top: -35px;
}
.row .segunda span{
margin-left: 70px;
width:18px;
height:23px;
position: absolute;
left:50%;
}
.row .segunda a:active{
background: transparent;
}
}
@media only screen and (max-width: 500px){
.wrapper_segunda{
margin-top: 10px;
position: absolute;
top: calc(40% - 100px);
left:50%;
margin-left: -270px;
width:150px;
}
.row .col-md-12 h1{
/* Quem você está cadas: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
text-align: justify;
text-align: center;
font-weight: 600;
margin-bottom:55px;
width:305px;
margin-left: 90px;
}
.row .primeiro {
/* Rectangle 9 Copy: */
background:transparent;
border: 2px solid #ECECEC;
border-radius: 8px;
width:265px;
height:78px;
margin-left: 130px;
}
.row .primeiro a{
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 27px;
text-align: justify;
text-align: left;
background:transparent;
border: 2px solid transparent;
border-radius: none;
width:190px;
height:78px;
position: absolute;
left:50%;
margin-left: -130px;
margin-top: -35px;
}
.row .primeiro span{
margin-left: 70px;
width:18px;
height:23px;
position: absolute;
left:50%;
}
.row .segunda {
/* Rectangle 9 Copy: */
background:transparent;
border: 2px solid #ECECEC;
border-radius: 8px;
width:265px;
height:78px;
margin-left: 130px;
margin-top: -80px;
}
.row .segunda a{
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 27px;
text-align: justify;
text-align: left;
background:transparent;
border: 2px solid transparent;
border-radius: none;
width:180px;
height:78px;
position: absolute;
left:50%;
margin-left: -130px;
white-space: pre-line; 
margin-top: -35px;
}
.row .segunda span{
margin-left: 70px;
width:18px;
height:23px;
position: absolute;
left:50%;
}
}
@media only screen and (max-width: 320px){
.logo img{
position: absolute;
z-index: 9999;
top: 5%;
right: 10%;
left:60%;
bottom: auto;
display: block;
position: absolute;
width:100px;
height: 57px;
}
.wrapper_segunda{
margin-top: 10px;
position: absolute;
top: calc(40% - 100px);
left:20%;
margin-left: -300px;
width:150px;
}
.row .col-md-12 h1{
/* Quem você está cadas: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
text-align: justify;
text-align: center;
font-weight: 600;
margin-bottom:55px;
width:300px;
margin-left: 220px;
}
.row .primeiro {
/* Rectangle 9 Copy: */
background:transparent;
border: 2px solid #ECECEC;
border-radius: 8px;
width:240px;
height:78px;
margin-left: 270px;
}
.row .primeiro a{
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 27px;
text-align: justify;
text-align: left;
background:transparent;
border: 2px solid transparent;
border-radius: none;
width:190px;
height:78px;
position: absolute;
left:50%;
margin-left: -120px;
margin-top: -35px;
}
.row .primeiro span{
margin-left: 50px;
width:18px;
height:23px;
position: absolute;
left:50%;
}
.row .segunda {
/* Rectangle 9 Copy: */
background:transparent;
border: 2px solid #ECECEC;
border-radius: 8px;
width:240px;
height:78px;
margin-left: 270px;
margin-top: -80px;
}
.row .segunda a{
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 27px;
text-align: justify;
text-align: left;
background:transparent;
border: 2px solid transparent;
border-radius: none;
width:180px;
height:78px;
position: absolute;
left:50%;
margin-left: -120px;
white-space: pre-line; 
margin-top: -35px;
}
.row .segunda span{
margin-left: 50px;
width:18px;
height:23px;
position: absolute;
left:50%;
}
}