@font-face {
font-family: Avenir-Book;
font-style: normal;
font-weight: normal;
src: local('../fonts/AvenirLTStd-Light.woff'), url('../fonts/AvenirLTStd-Light.woff') format('woff');
}

.item{
  padding-bottom:78vh; 
  max-width:100%; 
  width: 100%;

}
html, body{
  height: 100%;
}

body {
text-align: center;
  margin: 0 auto;
background: linear-gradient(204deg, #a500c8, #b074ff, #ff2981, #c957de, #ed6b6b, #23bced);
background: -webkit-linear-gradient(204deg, #a500c8, #b074ff, #ff2981, #c957de, #ed6b6b, #23bced);
background: -moz-linear-gradient(204deg, #a500c8, #b074ff, #ff2981, #c957de, #ed6b6b, #23bced);
background: -o-linear-gradient(204deg, #a500c8, #b074ff, #ff2981, #c957de, #ed6b6b, #23bced);
background-size: 1200% 1200%;
-webkit-animation: AnimationName 48s ease infinite;
-moz-animation: AnimationName 48s ease infinite;
-o-animation: AnimationName 48s ease infinite;
animation: AnimationName 48s ease infinite;

  color: #fff;
  font-weight: 400;
  font-size: 1em;
font-family: Avenir-Book;
  overflow-y: hidden;
  min-height: 190px;
}

@-o-keyframes AnimationName {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}
@keyframes AnimationName { 
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}



@media only screen and (max-width: 414px){

body{overflow-x: hidden;} 

}

a:hover, a:focus {
  color: #fff;
}


/* ============================================================
 PARALLAX
============================================================ */
div.module:last-child {
  margin-bottom: -20px;
}
div.module p:last-child {
  margin-bottom: 0;
}
div.module.content {
  padding: 20px 0;

}
div.module.parallax {
  height: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/**************
PRIMEIRA DIV
****************/
div.module.parallax-1 input {

 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
/* Clip 2: */
/* Fill 1: */
margin: auto;
  left:0; 
        right:0;
  top:0; 
        bottom:0;
  position: absolute;
  width: 400px;
  height: 50px;
position: absolute;
font-size:24px; 
color:white; 
padding-left:10px;

}
div.module.parallax-1 h1 {
/* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
width:400px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
top: 40%;
left:50%;
margin-left:-220px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);

}


@media only screen and (max-width: 414px){

div.module.parallax-1 input {

width:250px;
height:50px;
}
div.module.parallax-1 h1 {
/* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 44px;
width:300px;
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */

}


}


/**************
SEGUNDA DIV
****************/
div.module.parallax-2 h1 {  /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  top: 138%;
  left:50%;
  width:400px;
margin-left:-240px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
display: block;
position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
}
div.module.parallax-2 input {

 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
/* Clip 2: */
/* Fill 1: */
margin: auto;
  left:0; 
        right:0;
  top:192%; 
        bottom:0;
  position: absolute;
  width: 400px;
  height: 50px;
position: absolute;
font-size:24px; 
color:white; 
padding-left:10px;

}
@media only screen and (max-width: 414px){

div.module.parallax-1 h1 {
/* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 44px;
width:300px;
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */

}


}

/**************
TERCEIRA DIV
****************/

div.module.parallax-3 h1 { 
/* Precisamos de duas f: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  top: 250%;
  width:400px;
  left:50%; 
margin-left:-200px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;

}

.camera img{
  top: 230%;
left:50%;
margin-left:-100px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
width:200px;
height:200px;
bottom: auto;
display: block;
position: absolute;
}

/***********************
SORRIA
************************/
#gradient {
  display: block;
  width: 100%;
  height: 900px;
  padding: 0px;
  margin: 0px;
}

#gradient2 {
  display: block;
  width: 100%;
  height: 900px;
  margin: 0px;
  padding: 0px;
}
#gradient2:after {
    content: '';
    display:block;
    width: 100%;
    height: 102%;
    background: url("../images/sorrindo.jpg") center center;
    background-size: cover;
    opacity: 0.1;
  }

div.module.parallax-4 h1{
  /* Sorria!: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  text-align: center;
  top: 320%;
  width:400px;
  left:50%; 
margin-left:-200px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;
}

.myFile {
  position: relative;
  overflow: hidden;
  float: left;
  clear: left;
  top: 340%;
  left:50%; 
margin-left:-100px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;
}
.myFile img{
  width:200px;
  height:200px;
}

.myFile input[type="file"] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  filter: alpha(opacity=0);
  cursor: pointer;
}

/**************
SÉRIO
***************/

#gradient3 {
  display: block;
  width: 100%;
  height: 900px;
  margin: 0px;
}
#gradient3:after {
    content: '';
    display:block;
    width: 100%;
    height: 101%;
    background: url("../images/serio.jpg") center center;
    background-size: cover;
    opacity: 0.2;
  }


div.module.parallax-5 h1{
  /* Sorria!: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  text-align: center;
  top: 430%;
  left:50%; 
margin-left:-200px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
width:400px;
bottom: auto;
display: block;
position: absolute;
}

.myFile2 {
  position: relative;
  overflow: hidden;
  float: left;
  clear: left;
  top: 445%;
  left:50%; 
margin-left:-100px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;
}

.myFile2 img{
  width:200px;
  height:200px;
}

.myFile2 input[type="file"] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  filter: alpha(opacity=0);
  cursor: pointer;
}

/**************
CELULAR
***************/

div.module.parallax-6 h1{
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  text-align: center;
  top: 530%;
  left:50%; 
margin-left:-270px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
width:400px;
bottom: auto;
display: block;
position: absolute;
}

div.module.parallax-6 input{ 
  /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
width:400px;
height:50px;
  top: 540%;
  left:50%; 
margin-left:-200px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;
font-size:24px; 
color:white; 
padding-left:10px;
}
/**************
EMAIL
***************/

div.module.parallax-7 h1{
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  text-align: center;
  top: 630%;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
width:400px;
bottom: 5%;
display: block;
position: absolute;
} 

div.module.parallax-7 input{
  /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  top: 640%;
width:400px;
height:50px;
  left:50%; 
margin-left:-200px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;
font-size:24px; 
padding-left:10px;
} 


/**************
SEXO
***************/

/*BOTÕES FEMININO E MASCULINO*/
.toggleswitch{
  top: 740%;
left:19%;
bottom: 5%;
width:150px;
  left:50%; 
margin-left:-220px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
display: block;
position: absolute;
}

.toggleswitch label {
  display: inline-block;
  border: 2px solid #ECECEC;
border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 150px;
  margin: 15px;
  font-weight: normal;
/* Feminino: */
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 34px;
margin-left:40%;
}

.toggleswitch input:checked,
.toggleswitch input:not(:checked) {
  display: none;
}

.toggleswitch input:checked + label {
  /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
}
/*QUAL O SEU SEXO*/

div.module.parallax-8 h1{
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  text-align: center;
  top: 730%;
  left:50%; 
margin-left:-250px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
width:400px;
bottom: 5%;
display: block;
position: absolute;
} 


/*QUAL A SUA RAÇA*/

div.module.parallax-9 h1{
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  text-align: center;
  top: 830%;
  left:50%; 
margin-left:-250px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
width:400px;
bottom: 5%;
display: block;
position: absolute;
} 


/*QUAL O SEU BAIRRO*/

div.module.parallax-10 h1{
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  text-align: center;
  top: 930%;
  left:50%; 
margin-left:-185px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
width:400px;
bottom: 5%;
display: block;
position: absolute;
} 


/**************
ATRIZ OU ATOR
***************/

/*BOTÕES ATRIZ OU ATOR*/
.toggleswitch2{
  top: 1020%;
width:150px;
  left:50%; 
margin-left:-270px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: 5%;
display: block;
position: absolute;
}

.toggleswitch2 label {
  display: inline-block;
  border: 2px solid #ECECEC;
border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 260px;
  margin: 15px;
  font-weight: normal;
/* Feminino: */
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 34px;
margin-left:30%;
}

.toggleswitch2 input:checked,
.toggleswitch2 input:not(:checked) {
  display: none;
}

.toggleswitch2 input:checked + label {
  /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
}

.sim2_1{
  background: rgba(215,215,215,0.30);
  width:400px;
  height:250px;
  left:50%; 
margin-left:-250px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
top: 1045%;
bottom: auto;
display: block;
position: absolute;
text-indent: -9999px;
}

.sim2 h3{
  /* Ótimo!: */
font-family: Avenir-Book;
font-size: 36px;
color: #FFFFFF;
line-height: 9px; 
top: 1046%;
  left:50%; 
margin-left:-210px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;
  width:350px;
  height:350px;
}

.p1{
  /* Ótimo!: */
font-family: Avenir-Book;
font-size:40px;
color: #FFFFFF;
line-height: 25px; 
top: 1054%;
width:300px;
  left:50%; 
margin-left:-210px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;
}
.p2{
  /* Ótimo!: */
font-family: Avenir-Book;
font-size:40px;
color: #FFFFFF;
line-height: 25px; 
top: 1062%;
width:350px;
  left:50%; 
margin-left:-210px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;
}

div.module.parallax-11 h1{
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  text-align: center;
  top: 1010%;
  left:50%; 
margin-left:-250px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
width:450px;
bottom: auto;
display: block;
position: absolute;
} 

/**************
PERFIL MÍDIAS
***************/

div.module.parallax-12 h1{
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
 text-align: justify;
  top: 1110%;
  left:50%; 
margin-left:-210px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
width:450px;
bottom: auto;
display: block;
position: absolute;
} 

div.module.parallax-12 input{
  /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  top: 1120%;
  width:400px;
  height:50px;
  left:50%; 
margin-left:-210px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;
font-size:24px; 
padding-left:10px;
} 
/*
ESTILO INSTAGRAM
*/

.ig input{
  margin-top: 48px;
}
.ig img{
  top: 1125%;
  left:50%; 
  width:50px;
margin-left:-270px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;
}

/*
ESTILO FACEBOOK
*/
.face input{
  margin-top: 140px;
}

.face img{
  top: 1135%;
  left:50%; 
  width:50px;
margin-left:-270px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;

}

/*
ESTILO TWITTER
*/

.tt input{
  margin-top: 230px;
}

.tt img{
  top: 1145%;
  left:50%; 
  width:50px;
margin-left:-270px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;

}


/**************
ÚLTIMA DIV - BEM VINDO AO NOSSO ELENCO
***************/

div.module.parallax-13 h1{
/* Bem vind@ ao nosso e: */
font-family: Avenir-Book;
font-size: 38px;
color: #FFFFFF;
line-height: 66px;
  text-align: center;
  top: 1225%;
  width:200;
  left:50%; 
margin-left:-120px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
bottom: auto;
display: block;
position: absolute;
} 

#gradient4 {
  display: block;
  width: 100%;
  height: 900px;
  padding: 0px;
  margin: 0px;
}
#gradient4:after {
    content: '';
    display:block;
    width: 100%;
    height: 105%;
    background: url('../images/img-DSC_2882-contraste.png') center center;
    background-size: cover;
    opacity: 0.2;
  }


.logomag {
  top: 1282%;
left:45%;
margin: 0 auto;
bottom: auto;
display: block;
position: absolute;
}


/*PROGRESS BAR */


.progress1 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
@media only screen and (max-width: 700px){

.progress1 progress {
  width:500px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-260px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}
@media only screen and (max-width: 414px){
  .progress1 progress {
  width:300px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}

/* CHROME */
 .progress1 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress1 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress1 progress::-moz-progress-bar {
  background-color: #fff;
}




.progress2 progress {
  width:600px;
  position:absolute; 
  top:195%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
@media only screen and (max-width: 700px){
.progress2 progress {
  width:500px;
  position:absolute; 
  top:195%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-260px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}


@media only screen and (max-width: 414px){
.progress2 progress {
  width:300px;
  position:absolute; 
  top:195%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}

/* CHROME */
 .progress2 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress2 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress2 progress::-moz-progress-bar {
  background-color: #fff;
}




.progress3 progress {
  width:600px;
  position:absolute; 
  top:295%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

@media only screen and (max-width: 700px){

.progress3 progress {
  width:500px;
  position:absolute; 
  top:295%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-260px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}


@media only screen and (max-width: 414px){
.progress3 progress {
  width:300px;
  position:absolute; 
  top:295%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}
/* CHROME */
 .progress3 progress::-webkit-progress-bar {
  
background: rgba(215,215,215,0.1);
}

 .progress3 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress3 progress::-moz-progress-bar {
  background-color: #fff;
}


.progress4 progress {
  width:600px;
  position:absolute; 
  top:395%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
@media only screen and (max-width: 700px){

.progress4 progress {
  width:500px;
  position:absolute; 
  top:395%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-260px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}

@media only screen and (max-width: 414px){

.progress4 progress {
  width:300px;
  position:absolute; 
  top:395%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}

/* CHROME */
 .progress4 progress::-webkit-progress-bar {

background: rgba(215,215,215,0.1);
}

 .progress4 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress4 progress::-moz-progress-bar {
  background-color: #fff;
}




.progress5 progress {
  width:600px;
  position:absolute; 
  top:494%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
@media only screen and (max-width: 700px){
  .progress5 progress {
  width:500px;
  position:absolute; 
  top:494%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-260px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}
@media only screen and (max-width: 414px){
    .progress5 progress {
  width:300px;
  position:absolute; 
  top:494%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}

/* CHROME */
 .progress5 progress::-webkit-progress-bar {

background: rgba(215,215,215,0.1);
}

 .progress5 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress5 progress::-moz-progress-bar {
  background-color: #fff;
}

.progress6 progress {
  width:600px;
  position:absolute; 
  top:595%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

@media only screen and (max-width: 700px){

.progress6 progress {
  width:500px;
  position:absolute; 
  top:595%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-260px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}
@media only screen and (max-width: 414px){

.progress6 progress {
  width:300px;
  position:absolute; 
  top:595%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}


/* CHROME */
 .progress6 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress6 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress6 progress::-moz-progress-bar {
  background-color: #fff;
}





.progress7 progress {
  width:600px;
  position:absolute; 
  top:693%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

@media only screen and (max-width: 700px){

.progress7 progress {
  width:500px;
  position:absolute; 
  top:693%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-260px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

}
/* CHROME */
 .progress7 progress::-webkit-progress-bar {
  
background: rgba(215,215,215,0.1);
}

 .progress7 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress7 progress::-moz-progress-bar {
  background-color: #fff;
}



.progress8 progress {
  width:600px;
  position:absolute; 
  top:793%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

@media only screen and (max-width: 700px){

.progress8 progress {
  width:500px;
  position:absolute; 
  top:793%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-260px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

}
/* CHROME */
 .progress8 progress::-webkit-progress-bar {
  
background: rgba(215,215,215,0.1);
}

 .progress8 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress8 progress::-moz-progress-bar {
  background-color: #fff;
}


.progress9 progress {
  width:600px;
  position:absolute; 
  top:892%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

@media only screen and (max-width: 700px){

.progress9 progress {
  width:500px;
  position:absolute; 
  top:892%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-260px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}

/* CHROME */
 .progress9 progress::-webkit-progress-bar {
  
background: rgba(215,215,215,0.1);
}

 .progress9 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress9 progress::-moz-progress-bar {
  background-color: #fff;
}


.progress10 progress {
  position:absolute; 
  top:991%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
  width:600px;
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

@media only screen and (max-width: 700px){

.progress10 progress {
  position:absolute; 
  top:991%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-260px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
  width:500px;
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}

/* CHROME */
 .progress10 progress::-webkit-progress-bar {
  
background: rgba(215,215,215,0.1);
}

 .progress10 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress10 progress::-moz-progress-bar {
  background-color: #fff;
}

.progress11 progress {
  width:600px;
  position:absolute; 
  top:1091%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

@media only screen and (max-width: 700px){
.progress11 progress {
  width:500px;
  position:absolute; 
  top:1091%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-260px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

}

/* CHROME */
 .progress11 progress::-webkit-progress-bar {
  
background: rgba(215,215,215,0.1);
}

 .progress11 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress11 progress::-moz-progress-bar {
  background-color: #fff;
}


.progress12 progress {
  width:600px;
  position:absolute; 
  top:1190%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

@media only screen and (max-width: 700px){
.progress12 progress {
  width:500px;
  position:absolute; 
  top:1190%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-260px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}

/* CHROME */
 .progress12 progress::-webkit-progress-bar {
  
background: rgba(215,215,215,0.1);
}

 .progress12 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress12 progress::-moz-progress-bar {
  background-color: #fff;
}


/**************
SETAS
****************/
.vs-vertical-nav {

position: absolute;

z-index: 1;

top: 50%;

right: 3%;

bottom: auto;

display: block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}


@media only screen and (max-width: 700px){
  .vs-vertical-nav {

position: absolute;

z-index: 1;

top: 50%;

right: 3%;

bottom: auto;

display: inline-block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}
}
 

.vs-vertical-nav a {

display: block;

overflow: hidden;

width: 40px;

height: 40px;

white-space: nowrap;

text-indent: 100%;

background: url('../images/arrows-downres.svg') no-repeat center center;

}

 

.vs-vertical-nav a.vs-prev {

margin-bottom: 10px;

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}

.vs-vertical-nav2 {

position: absolute;

z-index: 1;

top: 150%;

right: 3%;

bottom: auto;

display: block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}

 

.vs-vertical-nav2 a {

display: block;

overflow: hidden;

width: 40px;

height: 40px;

white-space: nowrap;

text-indent: 100%;

background: url('../images/arrows-downres.svg') no-repeat center center;

}

 

.vs-vertical-nav2 a.vs-prev2 {

margin-bottom: 10px;

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}


.vs-vertical-nav3 {

position: absolute;

z-index: 1;

top: 250%;

right: 3%;

bottom: auto;

display: block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}

 

.vs-vertical-nav3 a {

display: block;

overflow: hidden;

width: 40px;

height: 40px;

white-space: nowrap;

text-indent: 100%;

background: url('../images/arrows-downres.svg') no-repeat center center;

}

 

.vs-vertical-nav3 a.vs-prev3{

margin-bottom: 10px;

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}


.vs-vertical-nav4 {

position: absolute;

z-index: 1;

top: 350%;

right: 3%;

bottom: auto;

display: block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}

 

.vs-vertical-nav4 a {

display: block;

overflow: hidden;

width: 40px;

height: 40px;

white-space: nowrap;

text-indent: 100%;

background: url('../images/arrows-downres.svg') no-repeat center center;

}

 

.vs-vertical-nav4 a.vs-prev4{

margin-bottom: 10px;

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}


.vs-vertical-nav5 {

position: absolute;

z-index: 1;

top: 450%;

right: 3%;

bottom: auto;

display: block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}

 

.vs-vertical-nav5 a {

display: block;

overflow: hidden;

width: 40px;

height: 40px;

white-space: nowrap;

text-indent: 100%;

background: url('../images/arrows-downres.svg') no-repeat center center;

}

 

.vs-vertical-nav5 a.vs-prev5{

margin-bottom: 10px;

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}

.vs-vertical-nav6 {

position: absolute;

z-index: 1;

top: 550%;

right: 3%;

bottom: auto;

display: block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}

 

.vs-vertical-nav6 a {

display: block;

overflow: hidden;

width: 40px;

height: 40px;

white-space: nowrap;

text-indent: 100%;

background: url('../images/arrows-downres.svg') no-repeat center center;

}

 

.vs-vertical-nav6 a.vs-prev6{

margin-bottom: 10px;

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}

.vs-vertical-nav7 {

position: absolute;

z-index: 1;

top: 650%;

right: 3%;

bottom: auto;

display: block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}

 

.vs-vertical-nav7 a {

display: block;

overflow: hidden;

width: 40px;

height: 40px;

white-space: nowrap;

text-indent: 100%;

background: url('../images/arrows-downres.svg') no-repeat center center;

}

 

.vs-vertical-nav7 a.vs-prev7{

margin-bottom: 10px;

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}

.vs-vertical-nav8 {

position: absolute;

z-index: 1;

top: 750%;

right: 3%;

bottom: auto;

display: block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}

 

.vs-vertical-nav8 a {

display: block;

overflow: hidden;

width: 40px;

height: 40px;

white-space: nowrap;

text-indent: 100%;

background: url('../images/arrows-downres.svg') no-repeat center center;

}

 

.vs-vertical-nav8 a.vs-prev8{

margin-bottom: 10px;

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}

.vs-vertical-nav9 {

position: absolute;

z-index: 1;

top: 850%;

right: 3%;

bottom: auto;

display: block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}

 

.vs-vertical-nav9 a {

display: block;

overflow: hidden;

width: 40px;

height: 40px;

white-space: nowrap;

text-indent: 100%;

background: url('../images/arrows-downres.svg') no-repeat center center;

}

 

.vs-vertical-nav9 a.vs-prev9{

margin-bottom: 10px;

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}



.vs-vertical-nav10 {

position: absolute;

z-index: 1;

top: 950%;

right: 3%;

bottom: auto;

display: block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}

 

.vs-vertical-nav10 a {

display: block;

overflow: hidden;

width: 40px;

height: 40px;

white-space: nowrap;

text-indent: 100%;

background: url('../images/arrows-downres.svg') no-repeat center center;

}

 

.vs-vertical-nav10 a.vs-prev10{

margin-bottom: 10px;

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}



.vs-vertical-nav11 {

position: absolute;

z-index: 1;

top: 1050%;

right: 3%;

bottom: auto;

display: block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}

 

.vs-vertical-nav11 a {

display: block;

overflow: hidden;

width: 40px;

height: 40px;

white-space: nowrap;

text-indent: 100%;

background: url('../images/arrows-downres.svg') no-repeat center center;

}

 

.vs-vertical-nav11 a.vs-prev11{

margin-bottom: 10px;

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}



.vs-vertical-nav12 {

position: absolute;

z-index: 1;

top: 1140%;

right: 3%;

bottom: auto;

display: block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}

 

.vs-vertical-nav12 a {

display: block;

overflow: hidden;

width: 40px;

height: 40px;

white-space: nowrap;

text-indent: 100%;

background: url('../images/arrows-downres.svg') no-repeat center center;

}

 

.vs-vertical-nav12 a.vs-prev12{

margin-bottom: 10px;

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}

















