@font-face {
font-family: Avenir-Book;
font-style: normal;
font-weight: normal;
src: local('../fonts/AvenirLTStd-Light.woff'), url('../fonts/AvenirLTStd-Light.woff') format('woff');
}
@import url(http://markmurray.co/codepen/entypostyle.css);
body {
  background: #8e8e8e;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  overflow-y: hidden;
}

html, body{ width: 100%; 
  margin: 0 
}

#gradient
{
  width: 100%;
  height: 400px;
  padding: 0px;
  margin: 0px;
}

section {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: table;
  overflow: hidden;
  z-index: 1;
}
section .content {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  padding: 20px;
  font-size: 28px;
line-height: 44px;
font-family: Avenir-Book;
  font-weight: 100;
}
section .content h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -80px;
  margin-left: -170px;
  position: relative;
   -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
section .content input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
padding-left:10px;
  margin-top: 10px;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 500px;
  height: 50px;
}

section .content .arrow {
  font-size: 2rem;
  line-height: 0.5;
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/*
PRIMEIRA DIV
*/

.section1 {
  top: 0;
}

.progress1 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

/* CHROME */
 .progress1 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress1 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress1 progress::-moz-progress-bar {
  background-color: #fff;
}

@media only screen and (max-width: 768px){

body{

  overflow-x: hidden;
}

  .progress1 progress {
  width:600px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}


@media screen and (max-width:600px) { 

section .content h1 {
/* Em qual bairro você : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
  margin-top: -80px;
  margin-left: 18px;
  position: relative;
}
section .content input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
padding-left:10px;
  margin-top: 10px;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 270px;
  height: 50px;
}
  .progress1 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}

@media screen and (max-width:375px) { 

section .content h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -120px;
  margin-left:30px;
  position: absolute;
}
section .content input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
padding-left:10px;
  margin-top: -104px;
  margin-left:10px;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 270px;
  height: 50px;
}
  .progress1 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}


@media screen and (max-width:320px) { 

section .content h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -120px;
  margin-left:2px;
  position: absolute;
}
section .content input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
padding-left:10px;
  margin-top: -104px;
  margin-left:2px;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 270px;
  height: 50px;
}

}


/*
SEGUNDA DIV
*/

.section2 {
  top: 100%;
}

section .content .responsavel h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -80px;
  margin-left: -220px;
  position: relative;
}
.progress2 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

/* CHROME */
 .progress2 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress2 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress2 progress::-moz-progress-bar {
  background-color: #fff;
}


@media screen and (max-width:768px) { 
  .progress2 progress {
  width:600px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

}

@media screen and (max-width:600px) { 
    .progress2 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
section .content .responsavel h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -80px;
  margin-left: 10px;
  position: relative;
}

}


@media screen and (max-width:414px) { 

section .content .responsavel h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -80px;
  margin-left: 25px;
  width:280px;
  position: relative;
}
section .content .responsavel input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
padding-left:10px;
  margin-top: 10px;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 270px;
  height: 50px;
}

}

@media screen and (max-width:390px) { 

section .content .responsavel h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -80px;
  margin-left: 20px;
  width:280px;
  position: relative;
}
section .content .responsavel input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
padding-left:10px;
  margin-top: 10px;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 270px;
  height: 50px;
}

}

@media screen and (max-width:320px) { 
    .progress2 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-160px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

section .content .responsavel h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -80px;
  margin-left: -10px;
  width:280px;
  position: relative;
}
section .content .responsavel input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
padding-left:10px;
  margin-top: 10px;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 270px;
  height: 50px;
}

}




/*
TERCEIRA DIV
*/

.section3 {
  top: 200%;
}

.progress3 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

/* CHROME */
 .progress3 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress3 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress3 progress::-moz-progress-bar {
  background-color: #fff;
}


@media screen and (max-width:768px) { 
  .progress3 progress {
  width:600px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

}

@media screen and (max-width:600px) { 
    .progress3 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}


}

/*
QUARTA DIV
*/


.section4 {
  top: 300%;
}

.progress4 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

/* CHROME */
 .progress4 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress4 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress4 progress::-moz-progress-bar {
  background-color: #fff;
}


@media screen and (max-width:768px) { 
  .progress4 progress {
  width:600px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

}

@media screen and (max-width:600px) { 
    .progress4 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}


}

/*
QUINTA DIV
*/


section .content .fotos h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -80px;
  margin-left: 35px;
  position: relative;
}

.camera img{
width:200px;
height:200px;
padding-left:-50px;
padding-bottom: 50px;
  margin-top: -80px;
}

.section5 {
  top: 400%;
}

.progress5 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

/* CHROME */
 .progress5 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress5 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress5 progress::-moz-progress-bar {
  background-color: #fff;
}


@media screen and (max-width:768px) { 
  .progress5 progress {
  width:600px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

}

@media screen and (max-width:600px) { 
    .progress5 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}


section .content .fotos h1 {
/* Em qual bairro você : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
  margin-top: -80px;
  margin-left: 20px;
  position: relative;
}

}

/*
SEXTA DIV
*/

.section6 {
  top: 500%;
}

section .content .sorria h1 {
/* Sorria!: */
font-family: Avenir-Book;
font-size: 48px;
color: #FFFFFF;
line-height: 66px;
  margin-top: -150px;
  margin-left: 10px;
  position: relative;
}

.gradient2 {
  z-index: 0;
  width:100%;
  height: 100%;
  position: absolute; /* */
  opacity: 0.8;  /* */
  margin: 0px;
  padding: 0px;
}
.gradient2:after {
    content: '';
    display:block;
    width: 100%;
    height: 102%;
    background: url("../images/sorrindo.jpg") center center;
    background-size: cover;
    opacity: 0.1;
  }

.myFile {
  position: absolute;
  overflow: hidden;
  float: left;
  clear: left;
margin-left:-50px;
  margin-top: 45px;
}
.myFile img{
  width:93px;
  height:80px;
}

.myFile input[type="file"] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  filter: alpha(opacity=0);
  cursor: pointer;
}



.progress6 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

/* CHROME */
 .progress6 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress6 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress6 progress::-moz-progress-bar {
  background-color: #fff;
}


@media screen and (max-width:768px) { 
  .progress6 progress {
  width:600px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}


section .content .sorria h1 {
/* Sorria!: */
font-family: Avenir-Book;
font-size: 48px;
color: #FFFFFF;
line-height: 66px;
  margin-top: -150px;
  margin-left: 10px;
  position: relative;
}


.myFile img{
  width:93px;
  height:80px;
}

.myFile {
  position: absolute;
  overflow: hidden;
  float: left;
  clear: left;
margin-left:-50px;
  margin-top: 45px;
}

}

@media screen and (max-width:600px) { 
    .progress6 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

section .content .sorria h1 {
/* Sorria!: */
font-family: Avenir-Book;
font-size: 48px;
color: #FFFFFF;
line-height: 66px;
  margin-top: -150px;
  margin-left: 10px;
  position: relative;
}


.myFile img{
  width:93px;
  height:80px;
}

.myFile {
  position: absolute;
  overflow: hidden;
  float: left;
  clear: left;
margin-left:-50px;
  margin-top: 45px;
}

}


@media screen and (max-width:320px) { 

section .content .sorria h1 {
/* Sorria.: */
font-family: Avenir-Book;
font-size: 36px;
color: #FFFFFF;
line-height: 49px;
  margin-top: -150px;
  margin-left: 10px;
  position: relative;
}

.myFile img{
  width:93px;
  height:80px;
}

label.myFile {
  position: absolute;
  overflow: hidden;
  float: left;
  clear: left;
margin-left:-50px;
  margin-top: 45px;
}
}


/*
SÉTIMA DIV
*/

.section7 {
  top: 600%;
}


section .content .serio h1 {
/* Agora Sério!: */
font-family: Avenir-Book;
font-size: 48px;
color: #FFFFFF;
line-height: 66px;
  margin-top: -150px;
  margin-left: 10px;
  position: relative;
}
.gradient3 {
  z-index: 0;
  width:100%;
  height: 100%;
  position: absolute; /* */
  opacity: 0.8;  /* */
  margin: 0px;
  padding: 0px;
}
.gradient3:after {
    content: '';
    display:block;
    width: 100%;
    height: 102%;
    background: url("../images/serio.jpg") center center;
    background-size: cover;
    opacity: 0.1;
  }

.myFile2 {
  position: absolute;
  overflow: hidden;
  float: left;
  clear: left;
margin-left:-50px;
  margin-top: 50px;
}
.myFile2 img{
  width:93px;
  height:80px;
}

.myFile2 input[type="file"] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  filter: alpha(opacity=0);
  cursor: pointer;
}


.progress7 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

/* CHROME */
 .progress7 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress7 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress7 progress::-moz-progress-bar {
  background-color: #fff;
}


@media screen and (max-width:768px) { 
  .progress7 progress {
  width:600px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}


section .content .serio h1 {
/* Sorria!: */
font-family: Avenir-Book;
font-size: 48px;
color: #FFFFFF;
line-height: 66px;
  margin-top: -150px;
  margin-left: 10px;
  position: relative;
}


.myFile2 img{
  width:93px;
  height:80px;
}

.myFile2 {
  position: absolute;
  overflow: hidden;
  float: left;
  clear: left;
margin-left:-50px;
  margin-top: 45px;
}

}

@media screen and (max-width:600px) { 
    .progress7 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

section .content .serio h1 {
/* Sorria!: */
font-family: Avenir-Book;
font-size: 48px;
color: #FFFFFF;
line-height: 66px;
  margin-top: -150px;
  margin-left: 10px;
  position: relative;
}


.myFile2 img{
  width:93px;
  height:80px;
}

.myFile2 {
  position: absolute;
  overflow: hidden;
  float: left;
  clear: left;
margin-left:-50px;
  margin-top: 45px;
}

}


@media screen and (max-width:320px) { 

section .content .serio h1 {
/* Agora séri@.: */
font-family: Avenir-Book;
font-size: 36px;
color: #FFFFFF;
line-height: 49px;
  margin-top: -150px;
  margin-left: 10px;
  position: relative;
}

.myFile2 img{
  width:93px;
  height:80px;
}

label.myFile2 {
  position: absolute;
  overflow: hidden;
  float: left;
  clear: left;
margin-left:-50px;
  margin-top: 45px;
}
}



/*
OITAVA DIV
*/

.section8 {
  top: 700%;
}


section .content .contato h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -80px;
  margin-left: -300px;
  position: relative;
}

section .content .contato input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -80px;
  margin-left: -55px;
  position: relative;
}

.progress8 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

/* CHROME */
 .progress8 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress8 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress8 progress::-moz-progress-bar {
  background-color: #fff;
}


@media screen and (max-width:768px) { 
  .progress8 progress {
  width:600px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
section .content .contato h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -100px;
  margin-left: -280px;
  position: relative;
}

section .content .contato input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -100px;
  margin-left: -25px;
  position: relative;
}

}

@media screen and (max-width:600px) { 
    .progress8 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}


section .content .contato h1 {
/* Em qual bairro você : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
  margin-top: -160px;
  margin-left: -60px;
  position: relative;
}

section .content .contato input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -134px;
  margin-left: -15px;
  position: relative;
}

}
@media screen and (max-width:414px) { 
    .progress8 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}


section .content .contato h1 {
/* Qual celular para co: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
  margin-top: -140px;
  margin-left: 2px;
  position: relative;
}

section .content .contato input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  margin-top: 50px;
  margin-left: -10px;
  position: relative;
}

}

/*
NONA DIV
*/


.section9 {
  top: 800%;
}

section .content .email h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
    margin-top: -80px;
  margin-left: -320px;
  position: relative;
}

.progress9 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

/* CHROME */
 .progress9 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress9 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress9 progress::-moz-progress-bar {
  background-color: #fff;
}


@media screen and (max-width:768px) { 
  .progress9 progress {
  width:600px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

}

@media screen and (max-width:600px) { 
    .progress9 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

section .content .email h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
    margin-top: -80px;
  margin-left: -90px;
  position: relative;
}


}

@media screen and (max-width:414px) { 
    .progress9 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

section .content .email h1 {
/* E o e-mail?: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
    margin-top: -80px;
  margin-left: -90px;
  position: relative;
}


}



/*
DÉCIMA DIV
*/



.section10 {
  top: 900%;
}


section .content .sexo h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -150px;
  margin-left: -195px;
  position: relative;
}


.toggleswitch{

  position: absolute;
  overflow: hidden;
position:absolute;
left:50%;
top:50%;
margin-left:-600px;
margin-top:-76px;
}

.toggleswitch label {
  display: inline-block;
  border: 2px solid #ECECEC;
border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 280px;
  margin: 15px;
  font-weight: normal;
/* Feminino: */
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 34px;
margin-left:40%;
}

.toggleswitch input:checked,
.toggleswitch input:not(:checked) {
  display: none;
}

.toggleswitch input:checked + label {
  /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
}




.progress10 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

/* CHROME */
 .progress10 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress10 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress10 progress::-moz-progress-bar {
  background-color: #fff;
}


@media screen and (max-width:768px) { 
  .progress10 progress {
  width:600px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

}

@media screen and (max-width:600px) { 
    .progress10 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}
}


@media screen and (max-width:470px) { 

section .content .sexo h1 {
/* Qual celular para co: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
  margin-top: -150px;
  margin-left: -30px;
  position: relative;
}

.toggleswitch{

  position: absolute;
  overflow: hidden;
position:absolute;
left:50%;
top:50%;
margin-left:-450px;
margin-top:-76px;
}

.toggleswitch label {
  display: inline-block;
  border: 2px solid #ECECEC;
border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 180px;
  margin: 15px;
  font-weight: normal;
/* Feminino: */
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 34px;
margin-left:40%;
}

}




@media screen and (max-width:360px) { 

.toggleswitch{

  position: absolute;
  overflow: hidden;
position:absolute;
left:50%;
top:50%;
margin-left:-370px;
margin-top:-30px;
}

}



@media screen and (max-width:320px) { 

section .content .sexo h1 {
/* Qual celular para co: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
  margin-top: -150px;
  margin-left: -10px;
  position: relative;
}

.toggleswitch{

  position: absolute;
  overflow: hidden;
position:absolute;
left:50%;
top:50%;
margin-left:-350px;
margin-top:-46px;
}

.toggleswitch label {
  display: inline-block;
  border: 2px solid #ECECEC;
border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 150px;
  margin: 15px;
  font-weight: normal;
/* Feminino: */
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 34px;
margin-left:40%;
}

}

/***

DÉCIMA PRIMEIRA DIV
***/


.section11 {
  top: 1000%;
}

section .content .raca h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
position:absolute;
left:45%;
top:40%;
width:250px;
margin-left:-220px;
margin-top:-30px;
}

.progress11 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}


/* CHROME */
 .progress11 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress11 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress11 progress::-moz-progress-bar {
  background-color: #fff;
}


@media screen and (max-width:768px) { 
  .progress11 progress {
  width:600px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

}

@media screen and (max-width:600px) { 
    .progress11 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

section .content .raca h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  position: relative;
  margin-top: -80px;
  margin-left: -230px;
}


}


@media screen and (max-width:414px){ 


div.customSelect.custom.use-default{
  margin-left: -120px;
  margin-top: -14px;
}


section .content .raca h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
position:absolute;
left:45%;
top:40%;
width:260px;
margin-left:-120px;
margin-top:-30px;
}

}

@media screen and (max-width:320px){ 


div.customSelect.custom.use-default{
  margin-left: -120px;
}


section .content .raca h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  position: relative;
  margin-top: -80px;
  margin-left: -120px;
}

}

/***

DÉCIMA SEGUNDA DIV
***/



.section12 {
  top: 1100%;
}


section .content .bairro h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
position:absolute;
left:45%;
top:40%;
width:400px;
margin-left:-215px;
margin-top:-30px;
}


.progress12 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}


/* CHROME */
 .progress12 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress12 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress12 progress::-moz-progress-bar {
  background-color: #fff;
}


@media screen and (max-width:768px) { 
  .progress12 progress {
  width:600px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

}

@media screen and (max-width:600px) { 
     .progress12 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}


section .content .bairro h1 {
/* Em qual bairro você : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
  position: relative;
  margin-top: -80px;
  margin-left: -240px;
}



}

@media screen and (max-width:414px) { 

section .content .bairro h1 {
 /* Em qual bairro você : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
width:270px;
  position: relative;
  margin-top: -120px;
  margin-left: -130px;
}
}

@media screen and (max-width:360px){ 

section .content .bairro h1 {
/* Em qual bairro você : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
width:270px;
  position: relative;
  margin-top: -120px;
  margin-left: -120px;
}

}


/***

DÉCIMA TERCEIRA DIV
***/

.section13 {
  top: 1200%;
}



.progress13 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

/* CHROME */
 .progress13 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress13 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress13 progress::-moz-progress-bar {
  background-color: #fff;
}


@media screen and (max-width:768px) { 
  .progress13 progress {
  width:600px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

}

@media screen and (max-width:600px) { 
    .progress13 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}


}


@media screen and (max-width:360px) { 

.toggleswitch2{

  overflow: hidden;
position:absolute;
left:50%;
top:50%;
margin-left:-280px;
margin-top:-20px;
}


.toggleswitch2 label {
  display: inline-block;
  border: 2px solid #ECECEC;
border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 200px;
  margin: 15px;
  font-weight: normal;
/* Feminino: */
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 34px;
margin-left:30%;
}

}





/*@media screen and (max-width:768px) {
.toggleswitch2{

  position: absolute;
  overflow: hidden;
position:absolute;
left:50%;
top:50%;
margin-left:-520px;
margin-top:-110px;
}

.toggleswitch2 label {
  display: inline-block;
  border: 2px solid #ECECEC;
border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 300px;
  margin: 15px;
  font-weight: normal;

font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 34px;
margin-left:30%;
}


section .content .ator h1 {
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
  margin-top: -200px;
  margin-left: -20px;
  position: relative;
}

  .sim2 {
  text-align: center;
  background: transparent;
  border: transparent solid 1px;
  margin:5px;
  position:absolute; 
  top:40%;
  left:40%; 
margin-left:-120px;
}
.centered {
  display: inline-block;
  width: 400px;
  padding: 5px 15px;
  background: rgba(215,215,215,0.1);
 }

 .centered p {
font-family: Avenir-Book;
font-size: 18px;
color: #FFFFFF;
line-height: 20px;
 }

  .centered h3 {
font-family: Avenir-Book;
font-size: 10px;
color: #FFFFFF;
line-height: 34px;
text-align: left;
 }
}*/


section .content .ator h1 {
/* Você é ator ou atriz: */
font-family: Avenir-Book;
font-size: 32px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -200px;
  margin-left: -90px;
  position: relative;
}

.toggleswitch2{
  position: absolute;
  overflow: hidden;
position:absolute;
left:50%;
top:50%;
margin-left:-660px;
margin-top:-140px;
}

.toggleswitch2 label {
  display: inline-block;
  border: 2px solid #ECECEC;
border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 400px;
  margin: 15px;
  font-weight: normal;
/* Feminino: */
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 34px;
margin-left:30%;
}

.toggleswitch2 input:checked,
.toggleswitch2 input:not(:checked) {
  display: none;
}

.toggleswitch2 input:checked + label {
  /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;
}

.centered { 
  width:400px;
  top: 55%;
  right: 0%;
  left:50%;
  padding: 10px 50px;
  bottom: auto;
  display: block;
  margin-left: -280px;
  position: absolute;
  background: rgba(215,215,215,0.1);
}

 .centered p {
font-family: Avenir-Book;
font-size: 18px;
color: #FFFFFF;
line-height: 30px;
  padding: 5px;
}

  .centered h3 {
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 44px;
  padding: 5px;
  text-align: left;
}

@media screen and (max-width:1024px){
 .centered { 
  width:400px;
  top: 54%;
  right: 0%;
  left:50%;
  padding: 10px 50px;
  bottom: auto;
  display: block;
  margin-left: -255px;
  position: absolute;
  background: rgba(215,215,215,0.1);
}

 .centered p {
font-family: Avenir-Book;
font-size: 18px;
color: #FFFFFF;
line-height: 30px;
  padding: 5px;
}

  .centered h3 {
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 44px;
  padding: 5px;
  text-align: left;
}

section .content .ator h1 {
/* Você é ator ou atriz: */
font-family: Avenir-Book;
font-size: 32px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -200px;
  margin-left: -50px;
  position: relative;
}

.toggleswitch2{
  position: absolute;
  overflow: hidden;
position:absolute;
left:50%;
top:50%;
margin-left:-640px;
margin-top:-120px;
}
 
}


@media  only screen and (max-width:600px){
.toggleswitch2{

  position: absolute;
  overflow: hidden;
position:absolute;
left:50%;
top:50%;
margin-left:-520px;
margin-top:-130px;
}

.toggleswitch2 label {
  display: inline-block;
  border: 2px solid #ECECEC;
border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 320px;
  margin: 15px;
  font-weight: normal;
/* Feminino: */
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 34px;
margin-left:30%;
}

section .content .ator h1 {
/* Você é ator ou atriz: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
  margin-top: -180px;
  margin-left: -10px;
  position: relative;
}
.centered { 
  width:400px;
  top: 54%;
  right: 0%;
  left:50%;
  padding: 10px 40px;
  bottom: auto;
  display: block;
  margin-left: -245px;
  position: absolute;
  background: rgba(215,215,215,0.1);
}

}

@media screen and (max-width:500px){
.toggleswitch2{

  position: absolute;
  overflow: hidden;
position:absolute;
left:50%;
top:50%;
margin-left:-380px;
margin-top:-100px;
}

.toggleswitch2 label {
  display: inline-block;
  border: 2px solid #ECECEC;
border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 220px;
  margin: 15px;
  font-weight: normal;
/* Feminino: */
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 34px;
margin-left:30%;
}

section .content .ator h1 {
/* Você é ator ou atriz: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
  margin-top: -180px;
  margin-left: -10px;
  position: relative;
}
.centered { 
  width:300px;
  top: 60%;
  right: 0%;
  left:50%;
  padding: 5px 15px;
  bottom: auto;
  display: block;
  margin-left: -165px;
  position: absolute;
  background: rgba(215,215,215,0.1);
}

 .centered p {
/* Isso quer dizer que : */
font-family: Avenir-Book;
font-size: 12px;
color: #FFFFFF;
line-height: 18px;
  padding: 2px;
}

  .centered h3 {
/* Ótimo!: */
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 15px;
  padding: 2px;
  text-align: left;
}

}



@media screen and (max-width:375px) { 
.toggleswitch2{

  position: absolute;
  overflow: hidden;
position:absolute;
left:50%;
top:50%;
margin-left:-330px;
margin-top:-100px;
}

.toggleswitch2 label {
  display: inline-block;
  border: 2px solid #ECECEC;
border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 220px;
  margin: 15px;
  font-weight: normal;
/* Feminino: */
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 34px;
margin-left:30%;
}

section .content .ator h1 {
/* Você é ator ou atriz: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
  margin-top: -180px;
  margin-left: -10px;
  position: relative;
}
.centered { 
  width:300px;
  top: 60%;
  right: 0%;
  left:50%;
  padding: 5px 10px;
  bottom: auto;
  display: block;
  margin-left: -160px;
  position: absolute;
  background: rgba(215,215,215,0.1);
}

 .centered p {
/* Isso quer dizer que : */
font-family: Avenir-Book;
font-size: 12px;
color: #FFFFFF;
line-height: 18px;
  padding: 2px;
}

  .centered h3 {
/* Ótimo!: */
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
line-height: 15px;
  padding: 2px;
  text-align: left;
}

}



@media screen and (max-width:350px) { 
.toggleswitch2{

  position: absolute;
  overflow: hidden;
position:absolute;
left:50%;
top:50%;
margin-left:-280px;
margin-top:-100px;
}

.toggleswitch2 label {
  display: inline-block;
  border: 2px solid #ECECEC;
border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 220px;
  margin: 15px;
  font-weight: normal;
/* Feminino: */
font-family: Avenir-Book;
font-size: 25px;
color: #FFFFFF;
line-height: 34px;
margin-left:30%;
}

section .content .ator h1 {
/* Você é ator ou atriz: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
  margin-top: -180px;
  margin-left: -10px;
  position: relative;
}
.centered { 
  width:200px;
  top: 60%;
  right: 0%;
  left:50%;
  padding: 5px 5px;
  bottom: auto;
  display: block;
  margin-left: -110px;
  position: absolute;
  background: rgba(215,215,215,0.1);
}

 .centered p {
/* Isso quer dizer que : */
font-family: Avenir-Book;
font-size: 10px;
color: #FFFFFF;
line-height: 10px;
  padding: 2px;
}

  .centered h3 {
/* Ótimo!: */
font-family: Avenir-Book;
font-size: 15px;
color: #FFFFFF;
line-height: 15px;
  padding: 2px;
  text-align: left;
}

}

/***

DÉCIMA QUARTA DIV
***/

.section14 {
  top: 1200%;
}


section .content .quartoze h1 {
/* Que tal deixar seu p: */
font-family: Avenir-Book;
font-size: 32px;
color: #FFFFFF;
line-height: 44px;
  margin-top: -80px;
  margin-left: -50px;
  position: relative;
}


.progress14 progress {
  width:600px;
  position:absolute; 
  top:95%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

/* CHROME */
 .progress14 progress::-webkit-progress-bar {
 
background: rgba(215,215,215,0.1);
}

 .progress14 progress::-webkit-progress-value {
  background-color: #fff;
}

 .progress14 progress::-moz-progress-bar {
  background-color: #fff;
}


@media screen and (max-width:768px) { 

  .progress14 progress {
  width:600px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-300px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}


section .content .quartoze h1 {
/* Que tal deixar seu p: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 38px;
  margin-top: -80px;
  margin-left: 10px;
  position: relative;
}


section .content .ig .ig2 input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
float:right;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  position: absolute;
  width: 350px;
  height: 50px;
}


input#ig.ig2{
  margin-left: 50px;
  width: 418px;
  height: 68px;
}
.ig img{
  position: absolute;
  overflow: hidden;
margin-top:22px !important;
margin-left: -20px !important;
}

/*
ESTILO FACEBOOK
*/
section .content .face{
  width:550;
  height:100px;
}
section .content .face .face2 input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
float:right;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 350px;
  height: 50px;
}


.face img{

  position: absolute;
  overflow: hidden;
float:left;
margin-top:40px !important;
margin-left: -20px !important;

}
input#face.face2{
  width: 418px;
  height: 68px;

  margin-left: 50px;
}

/*
ESTILO TWITTER
*/
section .content .tt{
  width:550;
  height:100px;
}

section .content .tt .tt2 input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
float:right;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 350px;
  height: 50px;
}


input#twitter.twitter2{
  margin-left: 50px;
  width: 418px;
  height: 68px;
margin-top:30px !important;
}

.tt img{

  position: absolute;
  overflow: hidden;
float:left;
margin-top:40px !important;
margin-left: -20px !important;

}


}

@media screen and (max-width:600px) { 

    .progress14 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

section .content .quartoze h1 {
/* Que tal deixar seu p: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 30px;
width:250px;
  position: absolute;
  left:18%;
  top:28%;
  right:10%;
  display: block;
  text-align: center;
}


section .content .ig .ig2 input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
float:right;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  position: absolute;
  width: 350px;
  height: 50px;
}


input#ig.ig2{
  margin-left: 40px;
  width: 214px;
  height: 42px;
}
.ig img{
  position: absolute;
  overflow: hidden;
  width: 32px;
  height: 33px;
margin-top:20px !important;
margin-left: 5px !important;
}

/*
ESTILO FACEBOOK
*/
section .content .face{
  width:550;
  height:100px;
}
section .content .face .face2 input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
float:right;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 350px;
  height: 50px;
}


.face img{

  position: absolute;
  overflow: hidden;
float:left;
  width: 32px;
  height: 33px;
margin-top:50px !important;
margin-left: 5px !important;

}
input#face.face2{
  width: 214px;
  height: 42px;
margin-top:44px !important;
  margin-left: 40px;
}

/*
ESTILO TWITTER
*/
section .content .tt{
  width:550;
  height:100px;
}

section .content .tt .tt2 input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
float:right;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 350px;
  height: 50px;
}


input#twitter.twitter2{
  margin-left: 50px;
  width: 214px;
  height: 42px;
margin-top:30px !important;
  margin-left: 40px;
}

.tt img{

  position: absolute;
  overflow: hidden;
float:left;
  width: 32px;
  height: 33px;
margin-top:40px !important;
margin-left: 5px !important;

}


}

@media screen and (max-width:380px) { 

    .progress14 progress {
  width:300px;
  position:absolute; 
  top:2%;
  color:#FFFFFF;
  height: 5px;
  left:50%; 
margin-left:-150px; /* Margem negativa para a esquerda com a metade do valor da largura da imagem */
background: rgba(215,215,215,0.1);
border: 1px solid #FFFFFF;
border-radius: 8px;
}

section .content .quartoze h1 {
/* Que tal deixar seu p: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 30px;
width:250px;
  position: absolute;
  left:15%;
  top:30%;
  right:10%;
  display: block;
  text-align: center;
}


section .content .ig .ig2 input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
float:right;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  position: absolute;
  width: 350px;
  height: 50px;
}


input#ig.ig2{
  margin-left: 40px;
  width: 214px;
  height: 42px;
margin-top:140px !important;
}
.ig img{
  position: absolute;
  overflow: hidden;
  width: 32px;
  height: 33px;
margin-top:150px !important;
margin-left: 5px !important;
}

/*
ESTILO FACEBOOK
*/
section .content .face{
  width:550;
  height:100px;
}
section .content .face .face2 input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
float:right;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 350px;
  height: 50px;
}


.face img{

  position: absolute;
  overflow: hidden;
float:left;
  width: 32px;
  height: 33px;
margin-top:45px !important;
margin-left: 5px !important;

}
input#face.face2{
  width: 214px;
  height: 42px;
margin-top:35px !important;
  margin-left: 40px;
}

/*
ESTILO TWITTER
*/
section .content .tt{
  width:550;
  height:100px;
}

section .content .tt .tt2 input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
float:right;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 350px;
  height: 50px;
}


input#twitter.twitter2{
  margin-left: 50px;
  width: 214px;
  height: 42px;
margin-top:20px !important;
  margin-left: 40px;
}

.tt img{

  position: absolute;
  overflow: hidden;
float:left;
  width: 32px;
  height: 33px;
margin-top:28px !important;
margin-left: 5px !important;

}


}



@media screen and (max-width:360px) { 

section .content .quartoze h1 {
/* Que tal deixar seu p: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 30px;
width:250px;
  position: absolute;
  left:10%;
  top:30%;
  right:10%;
  display: block;
  text-align: center;
}

}



section .content .ig .ig2 input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
float:right;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  position: absolute;
  width: 400px;
  height: 50px;
}



.ig img{
  position: absolute;
  overflow: hidden;
float:left;
margin-top:10px;
margin-left: -70px;
}

/*
ESTILO FACEBOOK
*/
section .content .face{
  width:550;
  height:100px;
}
section .content .face .face2 input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
float:right;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 500px;
  height: 50px;
}


.face img{

  position: absolute;
  overflow: hidden;
float:left;
margin-top:25px;
margin-left: -70px;

}
input#face.face2{

margin-top:25px;
}

/*
ESTILO TWITTER
*/
section .content .tt{
  width:550;
  height:100px;
}

section .content .tt .tt2 input {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size:24px; 
color:white; 
float:right;
 /* Rectangle 9 Copy: */
background: rgba(215,215,215,0.30);
border: 2px solid #ECECEC;
border-radius: 8px;

  width: 500px;
  height: 50px;
}


.tt img{

  position: absolute;
  overflow: hidden;
float:left;
margin-top:10px;
margin-left: -70px;

}


/***

DÉCIMA QUINTA DIV
***/


.section15 {
  top: 1300%;
}


section .content .ultima h1 {
/* Bem vind@ ao nosso e: */
font-family: Avenir-Book;
font-size: 48px;
color: #FFFFFF;
line-height: 66px;
  margin-top: 250px;
  margin-left: -55px;
  position: relative;
}

.logomag img{
margin-top: 300px;
width:194px;
height:107px;
  position: relative;
}


@media screen and (max-width:780px) { 

section .content .logomag img{
margin-top: 250px;
  position: relative;
  }

  section .content .ultima h1 {
/* Bem vind@ ao nosso e: */
font-family: Avenir-Book;
font-size: 48px;
color: #FFFFFF;
line-height: 66px;
  margin-top: 250px;
  margin-left: -35px;
  position: relative;
}

}



@media screen and (max-width:600px) { 


section .content .ultima h1 {
 /* Qual o seu primeiro : */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
line-height: 44px;
  margin-left: -10px;
  position: relative;
}

section .content .logomag img{
margin-top: 150px;
  position: relative;
}

}



@media screen and (max-width:480px){ 


section .content .ultima h1 {
/* Bem vind@ ao nosso e: */
font-family: Avenir-Book;
font-size: 30px;
color: #FFFFFF;
line-height: 41px;
  margin-left: -10px;
  margin-top: 50px;
  position: relative;
}

section .content .logomag img{
margin-top: 80px;
  position: relative;
  width:147px;
  height:81px;
}

}

.gradient4 {
  z-index: 0;
  width:100%;
  height: 100%;
  position: absolute; /* */
  opacity: 0.8;  /* */
  margin: 0px;
  padding: 0px;
}
.gradient4:after {
    content: '';
    display:block;
    width: 100%;
    height: 100%;
    background: url("../images/img-DSC_2882-contraste.png") center center;
    background-size: cover;
    opacity: 0.1;
  }



/**********************
SETAS
***********************/


.vs-vertical-nav {

position: absolute;

z-index: 1;

top: 50%;

right: 3%;

bottom: auto;

display: block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}


.vs-vertical-nav a {

display: block;

overflow: hidden;

width: 40px;

height: 40px;

white-space: nowrap;

text-indent: 100%;

background: url('../images/arrows-downres.svg') no-repeat center center;

}

 

.vs-vertical-nav a.vs-prev {

margin-bottom: 10px;

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}


@media only screen and (max-width: 768px){



.vs-vertical-nav {

position: absolute;

z-index: 1;

top: 95%;

left:50%;
width:80px;

    margin-left:-80px;

bottom: auto;

display: block;

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform: translateY(-50%);

-o-transform: translateY(-50%);

transform: translateY(-50%);

}


.vs-vertical-nav a {

display: block;

overflow: hidden;

width: 40px;

height: 40px;

white-space: nowrap;

text-indent: 100%;
margin-top: -49px;

background: url('../images/arrows-downres.svg') no-repeat center center;

}

 

.vs-vertical-nav a.vs-prev {

margin-bottom: 10px;
margin-left: 50px;

-webkit-transform: rotate(180deg);

-moz-transform: rotate(180deg);

-ms-transform: rotate(180deg);

-o-transform: rotate(180deg);

transform: rotate(180deg);

}


}







