.menu-anchor {
	position: absolute;
	z-index: 9999;
	width: 40px;
	height: 32px;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
	background: #FFF;
	margin: 10px auto;
}


.menu-anchor:before {
	content: "";
	display: block;
	margin: 15px auto;
	width: 80%;
	height: 0.25em;
	background: #875DA2;
	position: absolute;
	z-index: 9999;
	box-shadow: 0 .45em 0 0  #875DA2, 0 .9em 0 0  #875DA2
}

.menu-active .menu-anchor {background: #FFFFFF;}

.menu-mobile {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	z-index: 1;
	width: 220px;
	height: 100%;
	padding-top: 10px;
	background:  #875DA2;
	display: none;
}  

.menu-mobile li a {
	display: block;
	border-bottom: 1px solid rgba(255,255,255,.3);
	margin: 0 10px;
	padding: 10px;
	color: #FFFFFF;
	text-decoration: none;
}

.menu-mobile li a:hover {
	color: #FFFFFF;
}


/*
	Aqui você esconde o .menu-mobile para fora da tela 
	O valor é exatamente a largura da sidebar
*/
.menu-mobile {
	-webkit-transform: translateX(-220px);
	-moz-transform: translateX(-220px);
	-ms-transform: translateX(-220px);
	transform: translateX(-220px);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

/*
	Essa é a posição original do .header-menu e do MAIN
*/
.header-menu, .main {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

/*
   Com a classe menu-active na tag HTML
*/
.menu-active .menu-mobile {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.menu-active .header-menu, 
.menu-active .main {
	-webkit-transform: translateX(220px);
	-moz-transform: translateX(220px);
	-ms-transform: translateX(220px);
	transform: translateX(220px);
}


  @media only screen and (max-width: 340px){

		.header-menu {
			height: 80px;
		}

		.notifications h1 a{
			display: none;
		}

		.menu-anchor{
			float: left;
			margin-top: 10px;
			display: inline-block;
		}

		.menu-mobile{
			display: block;
		}


	.logo{
		display: inline-block;
		margin-top: 2px;
		float: left;
		margin-left: 60px;
	}

	.notifications{
		float: right;
		margin-top: -60px;
		margin-left: 260px;

	}

	.line{
		display: none;
	}
  }

  @media only screen and (min-width: 341px) and (max-width: 767px){

		.header-menu {
			height: 80px;
		}

		.notifications h1 a{
			display: none;
		}

		.menu-anchor{
			float: left;
			margin-top: 10px;
			display: inline-block;
		}

		.menu-mobile{
			display: block;
		}


	.logo{
		display: inline-block;
		margin-top: 2px;
		float: left;
		margin-left: 60px;
	}

	.notifications{
		float: right;
		margin-top: -60px;
		margin-left: 260px;

	}

	.line{
		display: none;
	}

  }


  @media only screen and (min-width:768px) and (max-width:991px){
		.menu-anchor{
			display: none;
		}
				.menu-mobile{
			display: none;
		}

  }

  @media only screen and (min-width: 992px) and (max-width: 1199px){
		.menu-anchor{
			display: none;
		}

		.menu-mobile{
			display: none;
		}


  }

  @media only screen and (min-width:1200px){
		.menu-anchor{
			display: none;
		}
		.menu-mobile{
			display: none;
		}

  }

