.mancha{
max-width: 90%;
height: 100%;
margin: 0;
overflow: hidden;
padding: 0;
left: 50%;
margin-left: -45%;
}

.menu{
width: 100%;
height: 30px;
margin: 20px 0px 0px 0px;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.conteudo{
width: 320px;
max-width: 320px;
height: 90%;
padding: 0;
}
.conteudo-perfil{
overflow-x: hidden;
overflow-y: auto;
margin-bottom: 5px;
}
.conteudo-perfil::-webkit-scrollbar {
    border-radius: 10px;
} 
.conteudo-perfil::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.30);
}
.conteudo-perfil::-webkit-scrollbar {
    width: 6px;
    background: rgba(255,255,255,0.30);
}
.conteudo-perfil::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 10px;
}

.botoes{
width: 100%;
margin-bottom: 20px;
margin-top: 20px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
/*z-index: -1;*/
}

.botoes button{
  width: 100%;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px;
  background: rgba(255,255,255,0.50);
} 
.botoes button:hover{
  width: 100%;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px;
  background: rgba(255,255,255,0.60);
  cursor: pointer;
}

.logo {
  width: 130px;
  left: 50%;
  margin-left: -65px;
}

.profile{
width: 85%;
height: 80px;
top: 20px;
margin-left: 10%;
background: rgba(255,255,255,0.30);
border: 1px solid #FFFFFF;
border-radius: 8px;
color: rgba(255,255,255,0.87);
}
.profile p{
  line-height: 5px;
  margin-left: 60px;
  padding: 1px auto;
  margin-top: -2px;
}
.profile p:nth-child(2){
  margin-top: -2px;
}
.barra_progresso{
  margin-left: 60px;
}
.img-profile {
top: 20px;

}
.img-profile img{
width: 80px;
height: 80px;
margin-left: 0%;
background: rgba(255,255,255,0.30);
border: 1px solid #FFFFFF;
border-radius: 8px;
color: rgba(255,255,255,0.87);
}
.img-profile img.img-circle {
    border-radius: 50%;
}

.depois-profile{
  top: 100px;
}

/*ACCORDION*/
.accordions{
  top: 140px;
  width: 97%;
  margin-bottom: 60px;
}
button.accordion {
    cursor: pointer;
    padding: 5px;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
button.accordion img {
    float: left;
    text-align: left; 
    margin-top: 2px;
    margin-left: 15px;
}
button.accordion p {
    float: left;
    text-align: left; 
    margin-top: 5px;
    margin-left: 15px;
}

button#accordion1{
background: rgba(255,255,255,0.50);
}
button#accordion2{
background: rgba(255,255,255,0.40);
}
button#accordion3{
background: rgba(255,255,255,0.30);
}
button#accordion4{
background: rgba(255,255,255,0.20);
}
button#accordion5{
background: rgba(255,255,255,0.10);
}

button.accordion.active, button.accordion:hover {
    background-color: transparent;
}

button.accordion:after {
    margin-top: 5px;
    content: url('../_images/maiscasting.svg');
    float: right;
}

button.accordion.active:after {
    margin-top: 5px;
    content: url('../_images/menoscasting.svg');
}

div.panel {
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

.conteudo_panel{
  border-top: 1px solid white;
}

#panel1{
background: rgba(255,255,255,0.50);
}
.textbox{
  margin-top: -10px;
}
.textbox input{
  width: 88%;
  height: 30px;
  margin-bottom: 40px;
  float:left;
  border: 2px solid white;
  border-radius: 8px;
}
#panel2{
background: rgba(255,255,255,0.40);
}
.content_section {
  width: 100%; }
/*fisicos*/
.physical .physical__box {
  width: 100%;
  height: auto;
  margin: 10px; }

.physical .physical__box img {
  margin-left: -15px; }

.physical .physical__box img:nth-child(1) {
  margin-top: 5px;}

.physical .physical__box img:nth-child(3) {
  margin-left: -10px;
  margin-top: 5px; }

.physical .physical__box p:nth-child(1) {
  position: absolute;
  margin-top: 30px;
  margin-left: 20px; }

.physical .physical__box input#i-peso {
  margin-top: 5px;
  margin-left: 30px;
  position: absolute;
  width: 40px;
  height: 20px; }

.physical .physical__box input#i-altura {
  margin: 40px 10px 10px 0px;
  margin-left: 30px;
  position: absolute;
  width: 40px;
  height: 20px; }

.physical .physical__box p:nth-child(2) {
  margin: 10px 10px 10px 0px;
  margin-left: 35px; }

.physical .physical__box p:nth-child(3){
  margin-top: 10px;
}

.physical .physical__box input#i-roupa {
  margin-top: 5px;
  width: 40px;
  height: 20px; }

.physical .physical__box p:nth-child(4) {
  margin-top: 20px;
  margin-left: 35px; }


.physical .physical__box input#i-sapato {
  margin: -20px;
  margin-left: -15px;
  width: 40px;
  height: 20px; }

.physical-description {
  width: 100%; }
  .physical-description .physical-description__box {
    width: 150px;
    height: 70px;
    margin: 10px; }
  .physical-description .physical-description__box p {
    line-height: 5px; }
   .physical-description .physical-description__box .physical-description__box_right p:nth-child(1) {
    margin-right: 5px; }
   .physical-description .physical-description__box .physical-description__box_left {
    width: 60px;
    margin-left: -10px; }
   .physical-description .physical-description__box .physical-description__box_right p {
    line-height: 12px;}
   .physical-description .physical-description__box .physical-description__box_right {
    width: 70px;
    margin-right: -40px;
    margin-top: 2px; }
   .physical-description .physical-description__box .physical-description__box_right input#i-busto {
    margin: -20px;
    margin-left: -15px;
    width: 20px;
    height: 15px; }
   .physical-description .physical-description__box .physical-description__box_right input#i-cintura {
    margin: -20px;
    margin-left: -15px;
    width: 20px;
    height: 15px; }
   .physical-description .physical-description__box .physical-description__box_right input#i-quadril {
    margin: -20px;
    margin-left: -15px;
    width: 20px;
    height: 15px; }
   .physical-description .physical-description__box .physical-description__box_right input#i-tipo_cabelo {
    margin: -20px;
    margin-left: -15px;
    width: 20px;
    height: 15px; }
   .physical-description .physical-description__box .physical-description__box_right input#i-cor_cabelo {
    margin: -20px;
    margin-left: -15px;
    width: 20px;
    height: 15px; }
   .physical-description .physical-description__box .physical-description__box_right input#i-tamanho_cabelo {
    margin: -20px;
    margin-left: -15px;
    width: 20px;
    height: 15px; }

.physical-description-bottom  {
  width: 100%;
  margin-top: 20px; }
.physical-description-bottom .physical-description-bottom__box {
  width: 150px;
  height: 70px;
  margin: 15px; }
.physical-description-bottom .physical-description-bottom__box p{
  line-height: 5px; }
.physical-description-bottom .physical-description-bottom__box .physical-description-bottom__box_left {
    width: 60px;
    margin-left: -10px; }
.physical-description-bottom .physical-description-bottom__box .physical-description-bottom__box_right{
    width: 70px;
    margin-right: -40px;
    margin-top: 2px;  }
.physical-description-bottom .physical-description-bottom__box .physical-description-bottom__box_right input#i-cor_olho {
    margin: -20px;
    margin-left: -15px;
    margin-top: 5px;
    width: 20px;
    height: 15px; }

p.nome-artistico{
  margin-top: -5px;
}

#panel3{
background: rgba(255,255,255,0.30);
}
.total-cache {
  width: 100%;
}
.total-cache .total-cache__box {
  width: 200px;
  height: 77px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  margin: 10px; }

.total-cache .total-cache__box p:nth-child(1) {
  margin-top: 10px }
.total-cache .total-cache__box p:nth-child(2) {
  margin-top: 12px } 

.areceber-cache .areceber__box {
  width: 135px;
  height: 77px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  margin: 10px; }
.areceber-cache .areceber__box p:nth-child(1) {
  margin-top: 10px }
.areceber-cache .areceber__box p:nth-child(2) {
  margin-top: 12px } 

.my-jobs__box {
  position: relative;
  width: 100%;
  height: 280px;
  top: 5px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 30px; }

.my-jobs__box::-webkit-scrollbar {
  width: 5px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  left: -10px; }

.my-jobs__box::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px; }

.table-menu-jobs tr {
  width: 100%; }

.box-table{
  width: 250px;
  height: 70px;
  margin-left: 10px;
  border-bottom: 1px solid white; 
}


.title-jobs {
  left: 20px;
  float: left; }

.values-jobs {
  right: 10px;
  float: right; }

#panel4{
background: rgba(255,255,255,0.20);
}
/*SLIDE*/
.container-slide {
  width: 200px;
  height: 200px;
  margin: 40px auto;
  margin-bottom: 320px;
}
.block-media {
  width: 200px;
  height: 200px;
  display: inline-block;
  float: left;
}
.carousel-images > .slick-list {
  padding: 0 !important;
}
.carousel-images > .slick-list > .slick-slide {
  width: 200px !important;
}
.carousel-images > .slick-list > .slick-slide img {
  width: 200px ;
  height: 200px ;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:focus,
.slick-next:focus {
  outline: none;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -40px;
}
.slick-prev:before {
  content: url('../_images/seta-esquerda.svg');
}

.slick-next {
  right: -25px;
}
.slick-next:before {
  content: url('../_images/seta-direita.svg');
}
.carousel-images > .slick-dots {
  bottom: 50px;
}
li.slick-active{
  background: transparent;
}
.carousel-images > .slick-dots > li button:before {
  color: white;
  font-size: 8px;
}
.carousel-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding: 20px;
}
.carousel-text .title {
  color: #bdc3c7;
  font-size: 1.05em;
  font-weight: 300;
  text-transform: uppercase;
}
.carousel-text .headline {
  color: #fff;
  text-align: justify;
}

.block-media__video{
  margin-top: 35px;
}
.form-group {
  width: 195px;
  height: 195px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.form-group input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.label {
  width: 195px;
  height: 195px;
  border: 2px solid white;
  border-radius: 5px;
  display: block;
  -webkit-transition: border 300ms ease;
  transition: border 300ms ease;
  cursor: pointer;
  margin-bottom: 20px;
}
.label img {
  display: block;
  padding-bottom: 16px;
  margin-left: 45px;
}
.label img,
.label .title {
  margin-top: 20px;
  -webkit-transition: 200ms color;
  transition: 200ms color;
}
/*video*/

.video-js-box{
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.video-js-box video{
  width: 100%;
  height: 100%;
}

#panel5{
background: rgba(255,255,255,0.10);
}

.contact {
  padding: 30px 10px;
  width: 100%;
  margin-left: -10px; }

.content_contact{
  position: relative;
  width: 100%;

}
.content_contact h2 {
  text-transform: capitalize;
  text-align: left;
  padding-left: 10px;
  margin-top: 10px; }
.content_contact .table-left {
  float: left;
  left: 5%;
  margin-top: 5%; }
  .content_contact .table-left td {
    padding: 5px; }
.content_contact .table-right {
  left: 5%;
  margin-top: 5%; }
  .content_contact .table-right td {
    float: left;
    padding: 5px 10px; 
    margin-left: -30px;
    margin-top: 12px;}
.content_contact .after__table-left {
  float: left;
  left: 15%;
  padding: 10px 0; }

/*MENU TRIGGER*/
nav.menu-trigger {
width: 20%;
text-align: right;
float: right;
}

nav.menu-trigger ul li {
display: inline-block;
margin-left: 20px;
}

nav.menu-trigger ul li a{
display: inline-block;
padding: 10px;
}

a {
text-decoration: none;
}

#mag-menu {
visibility: hidden;
position: absolute;
width: auto;
max-width: 80px;
padding: 20px;
right: 0;
top: 50px;
text-align: left;
opacity: 0;
-webkit-transform: translate(-20px, 0px);
        transform: translate(-20px, 0px);
z-index: 9999;
border: 1px solid white;
}

#mag-menu.active {
  visibility: visible;
opacity: 1;
-webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
-webkit-transition: .3s ease;
transition: .3s ease;
}

#mag-menu li {
display: block;
padding: 0px;
margin: 0px;
}

#mag-menu li:last-of-type {
border-top: 1px solid;
}

#mag-menu li a {
display: block;
float: none;
padding: 10px;
margin: 0px;
border: none;
min-width: 120px;
}

/* Hamburger */
#mag-icon {
display: block;
float: right;
width: 30px;
height: 20px;
padding: 0px 0;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
cursor: pointer;
}

#mag-icon::before, #mag-icon::after {
content: '';
display: block;
height: 4px;
-webkit-transition: .3s;
transition: .3s;
}

#mag-icon::before {
background: white;
margin-bottom: 8px;
}

#mag-icon::after {
-webkit-box-shadow: 0 4px 0 0 white, 0 -4px 0 0 white;
        box-shadow: 0 4px 0 0 white, 0 -4px 0 0 white;
}

#mag-icon.active::before, #mag-icon.active::after {
width: 80%;
-webkit-box-shadow: none;
        box-shadow: none;
}

#mag-icon.active::before {
-webkit-transform: rotate(45deg) translate(7px, 4px);
        transform: rotate(45deg) translate(7px, 4px);
}

#mag-icon.active::after {
-webkit-transform: rotate(-225deg) translate(-4px, 1px);
        transform: rotate(-225deg) translate(-4px, 1px);
}


/*MENU*/

#toggle {
  width: 28px;
  height: 30px;
  margin: 10px auto;
  margin-left: 20px;
}


#menu-note.on {
  margin-left: 30px;
  visibility: visible;
opacity: 1;
-webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
-webkit-transition: 0.3s ease;
transition: 0.3s ease;
}
#menu-note {
background:#A216E9;
visibility: hidden;
position: absolute;
width: auto;
max-width: 80px;
padding: 20px;
left: 0%;
top: 65px;
text-align: left;
opacity: 0;
-webkit-transform: translate(0px, -5px);
        transform: translate(0px, -5px);
z-index: 9999;
border: 1px solid white;
}
#menu-note li {
display: block;
padding: 0px;
margin: 0px;
  margin-left: -40px;
}

span.numero {
  position: absolute;
  top: 10px;
  left: 40px;
  z-index: 9999;
  border: 2px solid #FE3824;
  background: #FE3824;
  border-radius: 10px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 23px;
  height: 22px;
  vertical-align: middle;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.footer-perfil{
  bottom: 2px;
  width: 100%;
}
.footer-perfil p{
  width: 300px;
  padding:10px 0px;
  border-top: 2px solid white;
}
.seta {
display:none;
}
