.mancha{
max-width: 90%;
height: 100%;
margin: 0;
overflow: hidden;
padding: 0;
left: 50%;
margin-left: -45%;
}

.menu{
width: 100%;
height: 30px;
margin: 20px 0px 0px 0px;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.conteudo{
width: 320px;
max-width: 320px;
height: 90%;
padding: 0;
}
.conteudo-perfil{
overflow-x: hidden;
overflow-y: auto;
margin-bottom: 5px;
}
.conteudo-perfil::-webkit-scrollbar {
    border-radius: 10px;
} 
.conteudo-perfil::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.30);
}
.conteudo-perfil::-webkit-scrollbar {
    width: 6px;
    background: rgba(255,255,255,0.30);
}
.conteudo-perfil::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 10px;
}
.profile{
width: 85%;
height: 80px;
margin-top: 20px;
margin-left: 10%;
background: rgba(255,255,255,0.30);
border: 1px solid #FFFFFF;
border-radius: 8px;
color: rgba(255,255,255,0.87);
}
.profile p{
	line-height: 5px;
	margin-left: 60px;
	padding: 1px auto;
	margin-top: -2px;
}
.profile p:nth-child(2){
	margin-top: -2px;
}
.barra_progresso{
	margin-left: 60px;
}

.img-profile img{
width: 80px;
height: 80px;
margin-top: 20px;
margin-left: 0%;
background: rgba(255,255,255,0.30);
border: 1px solid #FFFFFF;
border-radius: 8px;
color: rgba(255,255,255,0.87);
}
.img-profile img.img-circle {
    border-radius: 50%;
}

.depois-profile{
margin-top: 100px;
}

/*ACCORDION*/
.accordions{
  margin-top: 140px;
  width: 97%;
}
button.accordion {
    cursor: pointer;
    padding: 5px;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
button.accordion img {
    float: left;
    text-align: left; 
    margin-top: 2px;
    margin-left: 15px;
}
button.accordion p {
    float: left;
    text-align: left; 
    margin-top: 5px;
    margin-left: 15px;
}

button#accordion1{
background: rgba(255,255,255,0.50);
}
button#accordion2{
background: rgba(255,255,255,0.40);
}
button#accordion3{
background: rgba(255,255,255,0.30);
}
button#accordion4{
background: rgba(255,255,255,0.20);
}
button#accordion5{
background: rgba(255,255,255,0.10);
}

button.accordion.active, button.accordion:hover {
    background-color: transparent;
}

button.accordion:after {
    margin-top: 5px;
    content: url('../_images/maiscasting.svg');
    float: right;
}

button.accordion.active:after {
    margin-top: 5px;
    content: url('../_images/menoscasting.svg');
}

div.panel {
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

.conteudo_panel{
  border-top: 1px solid white;
}

#panel1{
background: rgba(255,255,255,0.50);
}
.textbox{
  margin-top: -10px;
}
.textbox input{
  width: 88%;
  height: 30px;
  margin-bottom: 40px;
  float:left;
  border: 2px solid white;
  border-radius: 8px;
}
#panel2{
background: rgba(255,255,255,0.40);
}
.content_section {
  width: 100%; }
/*fisicos*/
.physical .physical__box {
  width: 100%;
  height: auto;
  margin: 10px; }
.physical .physical__box img {
  text-align: center;
  margin-left: -15px; }
.physical .physical__box p:nth-child(2) {
  margin: 10px -10px 10px 0px;
  text-align: center; }

#panel3{
background: rgba(255,255,255,0.30);
}
#panel4{
background: rgba(255,255,255,0.20);
}
#panel5{
background: rgba(255,255,255,0.10);
}

/*MENU TRIGGER*/
nav.menu-trigger, nav.menu-notificacao {
width: 20%;
text-align: right;
float: right;
}

nav.menu-trigger ul li, nav.menu-notificacao ul li {
display: inline-block;
margin-left: 20px;
}

nav.menu-trigger ul li a, nav.menu-notificacao ul li a {
display: inline-block;
padding: 10px;
}

a {
text-decoration: none;
}

#mag-menu {
visibility: hidden;
position: absolute;
width: auto;
max-width: 80px;
padding: 20px;
right: 0;
top: 50px;
text-align: left;
opacity: 0;
-webkit-transform: translate(-20px, 0px);
        transform: translate(-20px, 0px);
z-index: 9999;
border: 1px solid white;
}

#mag-menu.active {
  visibility: visible;
opacity: 1;
-webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
-webkit-transition: .3s ease;
transition: .3s ease;
}

#mag-menu li {
display: block;
padding: 0px;
margin: 0px;
}

#mag-menu li:last-of-type {
border-top: 1px solid;
}

#mag-menu li a {
display: block;
float: none;
padding: 10px;
margin: 0px;
border: none;
min-width: 120px;
}

/* Hamburger */
#mag-icon {
display: block;
float: right;
width: 30px;
height: 20px;
padding: 0px 0;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
cursor: pointer;
}

#mag-icon::before, #mag-icon::after {
content: '';
display: block;
height: 4px;
-webkit-transition: .3s;
transition: .3s;
}

#mag-icon::before {
background: white;
margin-bottom: 8px;
}

#mag-icon::after {
-webkit-box-shadow: 0 4px 0 0 white, 0 -4px 0 0 white;
        box-shadow: 0 4px 0 0 white, 0 -4px 0 0 white;
}

#mag-icon.active::before, #mag-icon.active::after {
width: 80%;
-webkit-box-shadow: none;
        box-shadow: none;
}

#mag-icon.active::before {
-webkit-transform: rotate(45deg) translate(7px, 4px);
        transform: rotate(45deg) translate(7px, 4px);
}

#mag-icon.active::after {
-webkit-transform: rotate(-225deg) translate(-4px, 1px);
        transform: rotate(-225deg) translate(-4px, 1px);
}


/*MENU*/
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.container2 {
  position: relative;
  max-width: 100px;
  margin: 0 auto; }

@media only screen and (min-width: 341px) and (max-width: 767px) {
  .container2 {
    max-width: 100px; } }
@media only screen and (max-width: 340px) and (orientation: portrait) {
  .container2 {
    max-width: 100px; } }
.site-header {
  position: relative;
  z-index: 9999;
  width: 50px;
  padding: 15px; }
  .site-header .site-logo {
    float: left;
    width: 50px; }
  .site-header .site-nav {
    float: left;
    width: 50px;
    margin: 5px 0 0;
    text-align: right; }
    .site-header .site-nav li {
      display: inline-block;
      margin: 0 5px; }
    .site-header .site-nav a {
      font-size: 1.1em;
      display: block;
      padding: 5px;
      text-decoration: none;
      text-transform: capitalize;
      transition: color 0.2s ease;
      -moz-transition: color 0.2s ease;
      -webkit-transition: color 0.2s ease;
      border: 0;
      transition: color 0.5s ease-in-out;
      -webkit-transition: color 0.5s ease-in-out;
      -moz-transition: color 0.5s ease-in-out; }

@media only screen and (min-width: 341px) and (max-width: 767px) {
  .site-header {
    padding: 15px 0; } }
@media only screen and (max-width: 340px) and (orientation: portrait) {
  .site-header {
    padding: 15px 0; } }
.site-nav ul, .sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0; }

#responsive-menu {
  display: none;
  margin: 0;
  padding: 20px 15px;
  position: absolute;
  z-index: 9999;
  top: 73px;
  left: 0;
  width: 100px;
  background: transparent; }
  #responsive-menu li {
    margin-right: -70px;
    display: block; }
  #responsive-menu li:nth-child(1) {
    margin-top: -8px; }
  #responsive-menu a {
    display: block;
    border: none;
    margin: 20px 0;
    font-size: 1em;
    transition: color 0.2s ease-in;
    -webkit-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in; }

@media only screen and (min-width: 600px) {
  #responsive-menu {
    z-index: 9999;
    display: none !important; } }
#std-menu {
  display: block; }

@media only screen and (min-width: 341px) and (max-width: 767px) {
  #std-menu {
    display: none; } }
@media only screen and (max-width: 340px) and (orientation: portrait) {
  #responsive-menu li:nth-child(1) {
    margin-top: -20px; }
  #responsive-menu li:nth-child(2) {
    margin-top: -5px; }

  #std-menu {
    display: none; } }
#menu-trigger {
  display: none;
  transition: none;
  border: 0; }
  #menu-trigger .notificacao {
    color: #FFFFFF;
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out; }

@media only screen and (min-width: 600px) {
  #menu-trigger {
    display: none; } }
@media only screen and (min-width: 341px) and (max-width: 767px) {
  #menu-trigger {
    z-index: 9999;
    display: block; }

  a.line-right:after {
    display: none; } }
@media only screen and (max-width: 340px) and (orientation: portrait) {
  #menu-trigger {
    z-index: 9999;
    display: block;
    margin-right: 5px;
    margin-top: -5px; }
