.mancha{
max-width: 90%;
height: 100%;
margin: 0;
overflow: hidden;
padding: 0;
left: 50%;
margin-left: -45%;
}
.menu{
width: 100%;
height: 30px;
margin: 20px 0px 0px 0px;
align-items: center;
}
.voltar{
opacity: 0;
transition: all 0.5s ease;
}
.barra_progresso_porcentagem{
width: 2%;
transition:all 0.5s ease;
}
.conteudo{
max-width: 320px;
height: 90%;
padding: 0;
}
.titulo{
width: 90%;
height: auto;
margin-top: 20px;
margin-left: 5%;
}
.subtitulo{
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 100%;
height: auto;
margin: 10px 10px 10px 10px;
}
.botoes{
width: 100%;
margin-bottom: 20px;
display: flex;
justify-content: center;
flex-wrap: wrap;
/*z-index: -1;*/
}
.subtexto{
position: relative;
font-family: Avenir-Book;
font-size: 14px;
color: #FFFFFF;
}
.icon-cpf{
padding-left: 10px;
}
.validacao-ok{
display: flex;
align-content: flex-start;
}
.input-validacao-ok{
margin-top: 50px;
}
input[type="text"].input_ddd::-webkit-input-placeholder{
background: transparent;
}
.input_ddd{
width: 20px;
margin-right: 10px;
padding-right: 20px;
padding-left: 20px;
}
.input_celular{
width: 160px;
margin: 0;
padding-right: 10px;
padding-left: 10px;
}
.select {
margin-top: -50px;
}
.btn_planos{
width: 100%;
height: auto;
padding-right: 10px;
}
.btn_plano{
width: 100%;
height: 110%;
cursor: pointer;
}
.btn_plano-more{
cursor: pointer;
}
.quadro-gratuito{
width: 90%;
height: auto;
background: #FF5D85;
border: 1px solid #FFFFFF;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 15px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.quadro-premium{
width: 90%;
height: auto;
background: #CC64E0;
border: 1px solid #FFFFFF;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 15px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.quadro-profissional{
width: 90%;
height: auto;
background: #2AA6E4;
border: 1px solid #FFFFFF;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 15px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.icon{
width: 60px;
margin-left: -40px;
margin-top: 15px;
}
.texto{
width: 75%;
margin-left: 10px;
margin-top: 20px;
text-align: left;
}
.itens {
margin: 20px 0px 0px -40px;
}
.preco {
width: 100%;
display: flex;
justify-content: center;
margin-bottom: 20px;
}
.aviso {
width: 280px;
display: flex;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
margin: 0px 0px 10px 0px;
}
.declaro{
width: 230px;
/*opacity: 0.7;*/
text-align: left;
margin-left: 5px;
display: flex;
flex-direction: column;
justify-content: center;
}
.requerido{
display: none;
position: absolute;
margin: -100px 0px 0px -15px;
}
.caixas-cadastros{
height: auto;
overflow-x: hidden;
overflow-y: scroll;
margin-bottom: 50px;
}
.video{
margin-top: 10px;
}
/* START CROPPER CSS */
.hide {
display: none;
}
.fade{
visibility: hidden;
opacity: 0;
transition: visibility 0s 2s, opacity 2s linear;
}
img {
max-width: 100%;
}
.upload{
cursor: pointer;
}
#file-input {
display: none;
}
.result {
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
height: 200px;
width: 150px;
}
.img-result{
margin-top: 20px;
display: none;
justify-content: center;
align-items: flex-end;
height: 200px;
width: 200px;
}
.cropped{
height: 200px;
width: 200px;
}
.instrucao{
margin-bottom: 30px;
}
@media (min-width: 400px) {
.result {
height: 350px;
width: 262.5px;
}
.img-result{
height: 350px;
width: 350px;
}
.cropped{
height: 350px;
width: 350px;
}
.instrucao{
margin-top: -100px;
}
}
@media (min-width: 1200px) {
.result {
/*height: 461px;*/
/*width: 345.75px;*/
}
.img-result{
/*height: 461px;*/
/*width: 461px;*/
max-width: 250px;
max-height: 250px;
}
.cropped{
max-width: 250px;
max-height: 250px;
/*height: 461px;*/
/*width: 461px;*/
}
.instrucao{
margin-top: -100px;
}
}
/* END CROPPER CSS */
.texto_input{
color: #FFFFFF;
font-family: Avenir-Book;
opacity: 0.5;
font-size: 10px;
position: absolute;
margin-top: -3px;
margin-left: 5px;
text-align: left;
}
input.numero-casa{
width: 50px;
margin-right: 10px;
}
input.complemento{
width: 150px;
}
input.cidade{
width: 150px;
margin-right: 10px;
}
input.uf{
width: 50px;
}
input.validade{
width: 70px;
margin-right: 10px;
margin-bottom: 10px;
}
input.cvv{
width: 40px;
margin-right: 10px;
margin-bottom: 10px;
}
input.parcelas{
width:50px;
margin-bottom: 10px;
}
/*
.select-dropdown-hidden{
width:0px;
}
.select-dropdown-styled{
width:50px;
display: inline-block;
}
.select-dropdown-options{
width:90px;
float: right;
margin-bottom: -100px;
margin-right: 7px;
background-color: purple;
margin-top: 0px;
}
*/
input.numero-casa::-webkit-input-placeholder{
background: transparent;
}
input.complemento::-webkit-input-placeholder{
background: transparent;
}
input.uf::-webkit-input-placeholder{
background: transparent;
}
input.validade::-webkit-input-placeholder{
background: transparent;
}
input.cvv::-webkit-input-placeholder{
background: transparent;
}
input#DDD::-webkit-input-placeholder{
background: transparent;
}
input#cpf_titular{
width: 250px;
}
input#nome_completo{
width: 250px;
}
input#data_nascimento{
width: 250px;
}
input#nome_completo{
width: 250px;
}
input#data_nascimento{
width: 250px;
}
input#DDD{
width: 50px;
margin-right: 10px;
}
input#cel{
width: 150px;
}
input#email{
width: 250px;
}
.input-field{
margin-top: 15px;
}
.endereco-descricao{
width: 30%;
text-align: right;
font-family: Avenir-Heavy;
}
.endereco-dados{
width: 65%;
text-align: left;
margin-left: 5%;
margin-bottom: 20px;
}
.endereco-inputs{
width: 100%;
display: flex;
flex-wrap: nowrap;
justify-content: center;
}
.numero-casa{
text-align: left;
}
.complemento{
text-align: left;
}
.titular-inputs{
margin-bottom: 10px;
}