.flexbox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.fixed{
	position: fixed;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.row{
	flex-direction: row;
}
.row-reverse{
	flex-direction: row-reverse;
}
.column {
	flex-direction: column;
}
.column-reverse {
	flex-direction: column-reverse;
}
.wrap {
	flex-wrap: wrap;
}
.nowrap {
	flex-wrap: nowrap;
}
.flex-start{
	-webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.space-between-vertical {
	align-content: space-between;
}
.space-between-horizontal{
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.center-horizontal{
	width: 100%;
	left: 50%;
    margin-left: -50%;
}
.text-align-center{
	text-align: center
}
.justify-center{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.align-items-center{
	align-items: center;
}