.flexbox{  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: block;
  display: flex;
}
.conteudo{
  max-width: 320px;
  height: 90%;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.conteudo-cadastro{
  width: 320px;
}
.botoes{
  max-width: 280px;
  height: 60px;
  margin-top: 5px;
  margin-left: 25px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: block;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.botoes form button{
  margin-top: 10px;
}

.botao {
  background: rgba(255,255,255,0.30);
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  font-family: Avenir-Book;
  font-size: 20px;
  color: #FFFFFF;
  width: 280px;
  height: 60px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  padding: 10px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.voltar{
  float: left;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.barra_progresso {
  float: left;
  height: 8px;
  width: 70%;
  position: relative;
  border-radius: 25px;
  background: rgba(255,255,255,0.20);
}
.barra_progresso > span {
  display: block;
  height: 8px;
  position: relative;
  overflow: hidden;
  background: rgba(255,255,255,0.60);
  border-radius: 25px;
}

.menu{
  float: right;
  width: 100%;
  height: 30px;
  margin: 10px 0px 0px 0px;   
  margin-left: 20px;   
}
.menu img{
  margin: 0 auto;
}

.mini-menu{
  margin-left: 10px;
}

.input-validacao-ok{
  margin-top: 20px;
  max-width: 280px;
}

.btn_planos{
width: 280px;
height: 100px;
padding-right: 10px;
}
.btn_plano{
width: 100%;
height: 100%;
cursor: pointer;
}
.btn_plano-more{
margin-top: -80px;
  position: absolute;
right: 0;
cursor: pointer;
}

.quadro-gratuito{
width: 90%;
height: 480px;
background: #FF5D85;
border: 1px solid #FFFFFF;
-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 15px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
}

.aviso {
  width: 180px;
  position: absolute;
  margin: auto;
  margin-top: 390px;
  left: 28px;
}
.botao_cadastro{
  width: 210px;
  height: 50px;
  position: absolute;
  margin: auto;
  margin-top: 565px;
  left: -5px;
}

.caixas-cadastros{
  max-height: 1000px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: auto;
  margin-top: -50px;
}

.ul_lista_selfies{
  position: absolute;
  margin-bottom: -20px;
  margin-top: 25px;
}
.li_lista_selfies{
  margin-left: -30px;
  margin-bottom: 20px;
  line-height: 20px;
}
#btn_video{
  position: absolute;
  top: 90%;  
}

.container-video{
  margin-top: -20px;
}
.result{
display: -webkit-box;
display: -ms-flexbox;
display: block;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
  position: relative;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
height: 200px;
width: 150px;
}

.foto{
  margin-bottom: 60px;
}

.botoes-fotos{
  margin-top: 30px;
}

#file-input {
display: block;
}
