.flexbox{  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: block;
  display: flex;
}

.conteudo{
  max-width: 320px;
  height: 90%;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.conteudo-cadastro{
  width: 320px;
}

.botoes{
  max-width: 280px;
  height: 60px;
  margin-top: 5px;
  margin-left: 25px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: block;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.botao{
  text-align: center;
}

.voltar{
  float: left;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.barra_progresso {
  float: left;
  height: 8px;
  width: 70%;
  position: relative;
  border-radius: 25px;
  background: rgba(255,255,255,0.20);
}
.barra_progresso > span {
  display: block;
  height: 8px;
  position: relative;
  overflow: hidden;
  background: rgba(255,255,255,0.60);
  border-radius: 25px;
}

.menu{
  float: right;
  width: 100%;
  height: 30px;
  margin: 10px 0px 0px 0px;   
  margin-left: 20px;   
}
.menu img{
  margin: 0 auto;
}

.input-validacao-ok{
margin-top: 20px;
}

.btn_planos{
width: 280px;
height: 100px;
padding-right: 10px;
}
.btn_plano{
width: 100%;
height: 100%;
cursor: pointer;
}

.btn_plano-more{
margin-top: -80px;
  position: absolute;
right: 0;
cursor: pointer;
}
.caixas-cadastros {
position: absolute;
max-height: 1000px;
overflow-x: hidden;
padding-right: 50px;
overflow-y: scroll;
}