.font-family
  font-family: $font-family
.color-font
  color: $color-font-primary
.x-large
  font-size: $font-size-desktop-xlarge
.large
  font-size: $font-size-desktop-large
.medium
  font-size: $font-size-desktop-medium
.small
  font-size: $font-size-desktop-small