.cursor
  cursor: pointer

.bold
  font-weight: bold

.font-family
  font-family: $font-family
  
.font-small
  font-size: $font-size-small

.font-medium
  font-size: $font-size-medium

.font-normal
  font-size: $font-size-normal
  
.font-xlarge
  font-size: $font-size-xlarge

.font-large
  font-size: $font-size-large

.color-primary
  color: $color-primary

.color-secondary
  color: $color-secondary

.button
  background: rgba(255,255,255,0.30)
  border: 2px solid #FFFFFF
  border-radius: 8px
  font-family: Avenir-Light
  font-size: 20px
  color: #FFFFFF
  padding: 8px

.button__small
  width: 135px

.button__medium
  width: 250px
  height: 50px

.button__active
  button:active
  background: rgba(255,255,255,0.60)

.button__hover
  button:hover
  background: rgba(255,255,255,0.60)

.button__checked
  button:checked
  background: rgba(255,255,255,0.60)
