.container-outline__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column; }

.popular {
  padding: 30px 10px 10px 10px;
  width: 100%;
  margin-left: -10px;  }

.title-section {
  position: relative;
  left: 0;
  border-bottom: 2px solid #FFFFFF; }
  .title-section img {
    padding-right: 10px;
    float: left; }
  .title-section p {
    position: relative;
    padding: 10px;
    text-transform: uppercase;
    text-align: left; }

.content_section {
  margin-top: 10px;
  width: 100%; }

.content_popular h2 {
  position: relative;
  text-transform: capitalize;
  text-align: left;
  padding-left: 10px;
  margin-top: 10px; }
.content_popular .button__popular {
  position: relative;
  top: 160px; }

.popular__graph {
  position: relative; }
  .popular__graph .circle-graph {
    float: left;
    margin-left: 20px; }
  .popular__graph .circle-graph p {
    text-align: center;
    padding: 10px;
    z-index: 100; }
  .popular__graph canvas {
    width: 80px;
    height: 90px;
    position: relative;
    top: -100px;
    left: -3px; }

.popular__graph__box_right {
  float: left;
  text-align: left;
  position: relative;
  left: 20px;
  top: 20px; }

.popular__dados h2 {
  position: absolute;
  text-transform: capitalize;
  text-align: left;
  margin-top: 40%;
  margin-left: 0;
  float: left; }
.popular__dados .popular-table-left {
  position: absolute;
  left: 5%;
  margin-top: 60%; }
  .popular__dados .popular-table-left td {
    padding: 5px; }
.popular__dados .popular-table-right {
  position: absolute;
  left: 15%;
  margin-top: 60%; }
  .popular__dados .popular-table-right td {
    text-align: left;
    padding: 7px 20px; }
    .popular__dados .popular-table-right td span {
      padding-right: 10px; }
.popular__dados .popular-after__table-left {
  position: absolute;
  left: 15%;
  margin-top: 58%; }
  .popular__dados .popular-after__table-left img {
    height: 140px; }
.popular__dados h2.popular-second-title__popular {
  position: relative;
  top: 150px; }
.popular__dados ul.popular-redes-icon__popular,
.popular__dados ul.popular-redes-icon__popular li {
  position: relative;
  top: 80px;
  left: -20px;
  margin: 0;
  padding: 0; }
.popular__dados ul.popular-redes-icon__popular li {
  padding: 10px;
  display: inline-block;
  vertical-align: top; }

.cursor {
  cursor: pointer; }

.bold {
  font-weight: bold; }

.font-family {
  font-family: Avenir-Book; }

.font-medium {
  font-size: 20px; }

.color-primary {
  color: #FFFFFF; }

.bold {
  font-weight: bold; }

.button {
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  font-family: Avenir-Light;
  font-size: 20px;
  color: #FFFFFF;
  padding: 8px; }

.button__small {
  width: 135px; }

.button__medium {
  width: 250px;
  height: 60px; }

/*# sourceMappingURL=popularidade.css.map */
