@charset "utf-8";
/* CSS Document */

*{
margin:0;
padding:0;
}
#login-form {
margin:5% auto;
max-width:500px;
}
/* home page */
#wrapper{
padding-top:50px;
}

.gradient{
display:block;
width:100%;
height: 100%;
padding:0px;
margin:0px;
overflow: auto;
}

@font-face {
font-family: Avenir-Book;
src: url('../fonts/Avenir-Light.eot');
src: url('../fonts/Avenir-Light.woff') format('woff'),
url('../fonts/Avenir-Light.ttf') format('truetype'),
url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg'),
url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype');
font-weight: 100;
font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
font-family: Avenir-Heavy;
color: #FFFFFF;
}

p {
font-family: Avenir-Book;
color: #FFFFFF;
}
.btn-primary {
background: rgba(255, 255, 255, 0.3);
border: 1px solid #FFFFFF;
border-radius: 8px;
font-family: Avenir-Book;
}

.btn-primary:focus,
.btn-primary.focus {
background: rgba(255,255,255,0.60);
border: 1px solid #FFFFFF;
border-radius: 8px; }

.btn-primary:hover {
background: rgba(255,255,255,0.60);
border: 1px solid #FFFFFF;
border-radius: 8px; }

.btn-primary:active {
background: rgba(255,255,255,0.60); }

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
background-color: rgba(255,255,255,0.30);
border-color: #FFFFFF;
}
a {
font-family: Avenir-Heavy;
color: #FFFFFF;
outline: 1;
text-decoration: underline;
}
.x-small{
font-family: Avenir-Book;
font-size: 11px;
color: rgba(255,255,255,1);
}
.small{
font-family: Avenir-Book;
font-size: 14px;
color: rgba(255,255,255,1);
}
.medium{
font-family: Avenir-Book;
font-size: 18px;
color: rgba(255,255,255,1);
}
.large{
font-family: Avenir-Book;
font-size: 30px;
color: rgba(255,255,255,1);
}
a:active,
a:hover,
a:focus {
outline: 0;
color: #FFFFFF;
opacity: 1;
}
.mini {
color: #ffffff;
font-size: 10;
}

.left {
position: relative;
right: 0%;
/*float: left;*/
/*align-self: left;*/
}

.faixa {
width: 90%;
}

.col-center {
float: none;
margin: 0 auto;
}

.btn-sacar{
margin-top: 20px;
/*  color: #FFF;
background: purple;
float: none;
margin: 0 auto;*/
/*  font-family: Avenir-Black;
margin-top: 20px;
background: rgba(0,87,33,1);
border: 0px;*/
}

.btn-indisp {
margin-top: 20px;
border: 1px solid #FFFFFF;
border-radius: 10px;
opacity: 0.5;
font-family: Avenir-Book;
/*  margin-top: 20px;
border: 1px solid #FFFFFF;
background: #DB9E0B;
opacity: 0.6;*/
}
.btn-indisp:active,
.btn-indisp:hover {
color: #FFFFFF;
cursor: default;
}

.btn-pago {
font-family: Avenir-Book;
margin-top: 20px;
/*border: 1px solid #FFFFFF;*/
/*border-radius: 10px;*/
}

.btn-cadastro {
border: 1px solid #FFFFFF;
border-radius: 10px;
}

.btn-cadastro:active,
.btn-cadastro:hover {
color: #FFFFFF;
cursor: default;
}

button {
background: transparent;
border: 0;
}
.modal {
position: fixed; /* Stay in place */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
position: relative;
background-color: #441160;
margin: 15% auto auto auto;
padding: 20px;
border: 1px solid #FFFFFF;
width: 300px;
height: 350px;
border-radius: 10px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.botoes_navegacao {
color: #FFFFFF;
float: right;
font-size: 28px;
font-weight: bold;
opacity: 0.5;
}
.botoes_navegacao:hover,
.botoes_navegacao:focus {
color: #FFFFFF;
text-decoration: none;
opacity: 1;
}
.conteiner {
position: absolute;
height: 95%;
width: 100%;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
-webkit-justify-content: center;
justify-content: center;
flex-wrap: wrap;
margin-left: -50%;
}
.navegacao{
position: relative;
height: 30px;
width: 100%;
display: flex;
opacity: 0.5;
font-family: Avenir-Book;
font-size: 14px;
color: rgba(255,255,255,1);
-webkit-align-items: center;
align-items: center;
margin-left: 10px;
margin-right: 10px;
margin-top: -10px;
}
.titulo{
position: relative;
display: flex;
width: 90%;
align-items: flex-start;
justify-content: center;
text-align: center;
font-family: Avenir-Heavy;
font-size: 30px;
color: rgba(255,255,255,1);
line-height: 32px;
margin-top: -10px;
}
.descricao{
width: 100%;
height: 60px;
position: relative;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-family: Avenir-Book;
font-size: 14px;
color: rgba(255,255,255,0.7);
margin: 0px 20px 0px 20px;
}
.botoes {
height: 110px;
position: relative;
display: flex;
align-items: flex-end;
flex-wrap: wrap;
justify-content: center;
}
.botao{
position: relative;
background: rgba(255,255,255,0.30);
border: 1px solid #FFFFFF;
border-radius: 8px;
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
width: 250px;
height: 50px;
margin-bottom: 10px;
margin-left: 5px;
margin-right: 5px;
text-align: center;
}
.botao:hover,
.botao:focus {
background: rgba(255,255,255,0.60);
}
.botoes_modalidades {
height: 320px;
position: relative;
display: flex;
align-items: flex-end;
flex-wrap: wrap;
justify-content: center;
}
.gratuito{
opacity: 0.75;
}
.gratuito:hover,
.gratuito:focus {
opacity: 1;
}
.premium{
opacity: 0.75;
}
.premium:hover,
.premium:focus {
opacity: 1;
}
.profissional{
opacity: 0.75;
}
.profissional:hover,
.profissional:focus {
opacity: 1;
}
.quadro-gratuito{
width: 90%;
height: 430px;
background: #FF5D85;
border: 1px solid #FFFFFF;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 15px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.quadro-premium{
width: 90%;
height: 555px;
background: #CC64E0;
border: 1px solid #FFFFFF;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 15px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.quadro-profissional{
width: 90%;
height: 820px;
background: #2AA6E4;
border: 1px solid #FFFFFF;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 15px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.icon{
width: 50px;
margin-left: -20px;
margin-top: 15px;
}
.texto{
width: 75%;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
margin-left: 10px;
margin-top: 20px;
}
.itens {
margin: 20px auto auto auto;
}
.preco {
width: 100%;
display: flex;
justify-content: center;
margin-bottom: 20px;
}
.subtracao {
width: 90%;
height: 190px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-left: -26px;
margin-bottom: 20px;
margin-top: -10px;
}
.utilizando{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-bottom: -10px;
}
.valor {
width: 170px;
height: 75px;
padding: 10px;
border-radius: 10px;
border: 1px solid #FFFFFF;
margin: 10px auto 0px auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.valor-cadastro{
}
.menos {
margin: 87px auto auto auto;
}
.igual{
margin: 60px auto auto auto;
}
.aviso {
width: 280px;
display: flex;
flex-wrap: nowrap;
justify-content: center;
margin: 10px auto 20px 20px;
}
.declaro{
width: 220px;
opacity: 0.7;
}
.requerido{
display: none;
position: absolute;
margin: -32px -28px;
}
.botao_saldo{
display: none;
}
@media only screen and (max-width: 415px) {
.modal-content {
width: 90%;
}
.icon{
width: 60px;
margin-left: -30px;
}
.aviso {
width: 95%;
}
.declaro{
width: 250px;
}
}
@media only screen and (min-width: 1024px) {
.inicio_login {
position: fixed;
}
.modal-content {
width: 500px;
margin: 2% auto auto auto;
}
.icon{
width: 80px;
margin-left: -60px;
}
.aviso {
width: 95%;
}
.declaro{
width: 300px;
}
}

