@charset "utf-8";
/* CSS Document */

*{
margin:0;
padding:0;
}
#login-form {
margin:5% auto;
max-width:500px;
}
/* home page */
#wrapper{
padding-top:50px;
}

.gradient{
display:block;
width:100%;
height: 100%;
position: fixed;
padding:0px;
margin:0px;
overflow: auto; }

@font-face {
font-family: Avenir-Book;
src: url('../fonts/Avenir-Light.eot');
src: url('../fonts/Avenir-Light.woff') format('woff'),
url('../fonts/Avenir-Light.ttf') format('truetype'),
url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg'),
url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype');
font-weight: 100;
font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
font-family: Avenir-Heavy;
color: #FFFFFF;
}

p {
font-family: Avenir-Book;
color: #FFFFFF;
}
.btn-primary {
background: rgba(255, 255, 255, 0.3);
border: 1px solid #FFFFFF;
border-radius: 8px;
font-family: Avenir-Book;
cursor: pointer;
}

.btn-primary:focus,
.btn-primary.focus {
background: rgba(255,255,255,0.60);
border: 1px solid #FFFFFF;
border-radius: 8px; }

.btn-primary:hover {
background: rgba(255,255,255,0.60);
border: 1px solid #FFFFFF;
border-radius: 8px; }

.btn-primary:active {
background: rgba(255,255,255,0.60); }

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
background-color: rgba(255,255,255,0.30);
border-color: #FFFFFF;
}

a {
font-family: Avenir-Heavy;
color: #FFFFFF;
}

a:active,
a:hover {
outline: 0;
}
.mini {
color: #ffffff;
font-size: 10;
}

.left {
position: relative;
right: 0%;
/*float: left;*/
/*align-self: left;*/
}

.faixa {
width: 90%;
}

.col-center {
float: none;
margin: 0 auto;
}

.btn-sacar{
margin-top: 20px;
/*  color: #FFF;
background: purple;
float: none;
margin: 0 auto;*/
/*  font-family: Avenir-Black;
margin-top: 20px;
background: rgba(0,87,33,1);
border: 0px;*/
}

.btn-indisp {
margin-top: 20px;
border: 1px solid #FFFFFF;
border-radius: 10px;
opacity: 0.5;
font-family: Avenir-Book;
/*  margin-top: 20px;
border: 1px solid #FFFFFF;
background: #DB9E0B;
opacity: 0.6;*/
}
.btn-indisp:active,
.btn-indisp:hover {
color: #FFFFFF;
cursor: default;
}

.btn-pago {
font-family: Avenir-Book;
margin-top: 20px;
/*border: 1px solid #FFFFFF;*/
/*border-radius: 10px;*/
}

.btn-cadastro {
border: 1px solid #FFFFFF;
border-radius: 10px;
}

.btn-cadastro:active,
.btn-cadastro:hover {
color: #FFFFFF;
cursor: default;
}

button {
background: transparent;
border: 0;
}
.quadro_concordo{
position: relative;
margin:auto;
}

input[type=checkbox] {
position: absolute;
left:-55%;
right:0;
top:0;
bottom:0;
margin: auto;
}

.quadrot {
height: 100%; 
width: 100%;
display: table;    
}

.quadro {
height: 100%;
vertical-align: middle;
display: table-cell;
text-align: center;
}

.declaro {
font-family: Avenir-Book;
/*text-transform: uppercase;*/
font-size: 10px;
line-height: 1.75;
margin: auto auto 10px auto;
}

.renove {
width: 90%;
font-family: Avenir-Book;
/*text-transform: uppercase;*/
font-size: 18px;
line-height: 1.5;
}

.renova_02 {
display: none;
position: relative;
margin: 2% auto; /* 15% from the top and centered */
margin-top: -40%;
width: 80%; /* Could be more or less, depending on screen size */
height: 80%;
padding: 20px;
}

.aviso {
/*border-radius: 5px;*/
/*border: 2px solid #FFFFFF;*/
/*padding: 10px;*/
text-align: left;
color: #FFFFFF;
display: inline-block;
/*margin: 10px;*/
/*position: relative;*/
width: 50%;
}

.modal {
position: fixed; /* Stay in place */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
background-color: #441160;
margin: 2% auto;
padding: 20px;
border: 1px solid #FFFFFF;
width: 90%;
height: 90%;
border-radius: 10px;
}

.navigation_buttons {
color: #FFFFFF;
float: right;
font-size: 28px;
font-weight: bold;
opacity: 0.5;
}
.navigation_buttons:hover,
.navigation_buttons:focus {
color: #FFFFFF;
text-decoration: none;
cursor: pointer;
opacity: 1;
}

.close {
float: right;
}

.back {
display: none;
float: left;
}
.confirma {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
margin: -40px auto 20px auto;
}
.quadro_cadastro {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
}
.quadro_cadastro_01 {
min-height: 490px;
float: left;
background: #2AA6E4;
border: 1px solid #FFFFFF;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 20px;
display: flex;
flex-wrap: wrap;
}

.quadro_cadastro_02 {
display: flex;
align-items: center;
flex-wrap: wrap;
}
.descricao {
margin: 20px 20px 20px auto;
width: 80%;
text-align: left;
}

.icon {
width: 75px;
margin: 20px -36px auto auto;
z-index: 2;
}
.small{
font-family: Avenir-Book;
font-size: 12px;
color: #FFFFFF;
}

.large{
font-family: Avenir-Light;
font-size: 30px;
color: #FFFFFF;
}

.line{
border: 1px solid #FFFFFF;
}

.lista_cadastro {
margin: 20px auto auto 20px;
font-family: Avenir-Book;
font-size: 16px;
color: #FFFFFF;
}

.itens {
margin: 20px auto auto auto;
}

.title {
max-width: 260px;
height: auto
}

.conteudo {
display: flex;
vertical-align: middle;
justify-content: center;
flex-wrap: wrap;
margin: 0px auto auto auto;
}
.subtracao {
width: 227px;
display: flex;
}
.operacoes {
margin: -40px -20px 0px 0px;
}
.valores {
margin: 0px auto 10px auto;
width: 200px;
border-radius: 20px;
display: flex;
flex-wrap: wrap;
align-self: flex-start;
justify-content:space-around;
}

.valor {
width: 170px;
height: 75px;
padding: 10px;
border-radius: 10px;
border: 1px solid #FFFFFF;
margin: 10px auto 0px auto;
}

.btn_confirma {
width: 250px;
height: 60px;
font-size: 20px;
padding: 15px;
align-self: flex-end;
margin: auto auto auto auto;
}

.menos {
margin: 115px auto auto auto;
z-index: 2;
}

.igual{
margin: 60px auto auto auto;
z-index: 2;
}

@media only screen and (max-width: 751px) {
.modal-content {
width: 90%;
height: 800px;

}
.renove {
width: 90%;
font-size: 15px;
}
.aviso {
width: 80%;
}
input[type=checkbox] {
left:-85%;
}
.declaro {
font-size: 10px;
}
.botoes {
width: 100%;
display: flex;
flex-wrap: wrap;
margin: auto auto auto auto;
justify-content: center;
/*overflow: hidden;*/
}
.confirma {
/*display: inline-flex;*/
flex-wrap: wrap;
/*    align-content: flex-start;*/
/*    justify-content: flex-start;*/
}
.icon {
width: 75px;
float: left;
margin: 0px -36px auto auto;
z-index: 3;
}
.quadro_cadastro {
min-height: 650px;
}

}

@media only screen and (min-width: 1025px) {
.renove {
width: 90%;
font-size: 20px;
}
.botoes {
width: 90%;
display: flex;
justify-content: center;
margin: 20px auto 20px auto;
position: relative;
}
}