@charset "utf-8";
/* CSS Document */

*{
margin:0;
padding:0;
}
#login-form {
margin:5% auto;
max-width:500px;
}
/* home page */
#wrapper{
padding-top:50px;
}

.gradient{
display:block;
position: fixed;
width:100%;
height: 100%;
padding:0px;
margin:0px;
overflow: auto;
}

@font-face {
font-family: Avenir-Book;
src: url('../fonts/Avenir-Light.eot');
src: url('../fonts/Avenir-Light.woff') format('woff'),
url('../fonts/Avenir-Light.ttf') format('truetype'),
url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg'),
url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype');
font-weight: 100;
font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
font-family: Avenir-Heavy;
color: #FFFFFF;
}
p {
font-family: Avenir-Book;
color: #FFFFFF;
}
.btn-primary {
background: rgba(255, 255, 255, 0.3);
border: 1px solid #FFFFFF;
border-radius: 8px;
font-family: Avenir-Book;
}

.btn-primary:focus,
.btn-primary.focus {
background: rgba(255,255,255,0.60);
border: 1px solid #FFFFFF;
border-radius: 8px; }

.btn-primary:hover {
background: rgba(255,255,255,0.60);
border: 1px solid #FFFFFF;
border-radius: 8px; }

.btn-primary:active {
background: rgba(255,255,255,0.60); }

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
background-color: rgba(255,255,255,0.30);
border-color: #FFFFFF;
}
a {
font-family: Avenir-Heavy;
color: #FFFFFF;
outline: 1;
text-decoration: underline;
}
.x-small{
font-family: Avenir-Book;
font-size: 11px;
color: rgba(255,255,255,1);
}
.small{
font-family: Avenir-Book;
font-size: 14px;
color: rgba(255,255,255,1);
}
.medium{
font-family: Avenir-Book;
font-size: 18px;
color: rgba(255,255,255,1);
}
.large{
font-family: Avenir-Book;
font-size: 30px;
color: rgba(255,255,255,1);
}
.heavy{
font-family: Avenir-Heavy;
}
a:active,
a:hover,
a:focus {
outline: 0;
color: #FFFFFF;
opacity: 1;
}
.mini {
color: #ffffff;
font-size: 10;
}

.left {
position: relative;
right: 0%;
/*float: left;*/
/*align-self: left;*/
}

.faixa {
width: 90%;
}

.col-center {
float: none;
margin: 0 auto;
}

.btn-sacar{
margin-top: 20px;
/*  color: #FFF;
background: purple;
float: none;
margin: 0 auto;*/
/*  font-family: Avenir-Black;
margin-top: 20px;
background: rgba(0,87,33,1);
border: 0px;*/
}

.btn-indisp {
margin-top: 20px;
border: 1px solid #FFFFFF;
border-radius: 10px;
opacity: 0.5;
font-family: Avenir-Book;
/*  margin-top: 20px;
border: 1px solid #FFFFFF;
background: #DB9E0B;
opacity: 0.6;*/
}
.btn-indisp:active,
.btn-indisp:hover {
color: #FFFFFF;
cursor: default;
}

.btn-pago {
font-family: Avenir-Book;
margin-top: 20px;
/*border: 1px solid #FFFFFF;*/
/*border-radius: 10px;*/
}

.btn-cadastro {
border: 1px solid #FFFFFF;
border-radius: 10px;
}

.btn-cadastro:active,
.btn-cadastro:hover {
color: #FFFFFF;
cursor: default;
}

button {
background: transparent;
border: 0;
}
.barra_progresso {
height: 8px;
width: 190px;
position: relative;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius: 25px;
background: rgba(255,255,255,0.20);
}
.barra_progresso > span {
display: block;
height: 8px;
position: relative;
overflow: hidden;
background: rgba(255,255,255,0.60);
border-radius: 25px;
}
input{
background: rgba(255,255,255,0.10);
border: 1px solid #FFFFFF;
border-radius: 8px;
height: 50px;
padding: 10px;
color: #FFFFFF;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 15px;
font-family: Avenir-Book;
font-size: 18px;
line-height: 32px;
}
input[type="checkbox"]{
width: 20px;
height: 20px;
border-radius: 0px;
margin: 0px;
}
.select-hidden{ display:none; visibility:hidden; padding-right:10px; }
.select{ cursor:pointer; display:inline-block; position:absolute; font-size:18px; color:#fff; width:75px; height:50px; margin-left:-25px; }
.select-styled{ font-family:Avenir-Book; font-size:18px; position:absolute; top:0px; right:0px; bottom:0px; left:0px; background-color:rgba(255,255,255,0.10); padding:11px 15px;; border-radius:6px; border:1px solid #fff; -moz-transition:all 0.2s ease-in; -o-transition:all 0.2s ease-in; -webkit-transition:all 0.2s ease-in; transition:all 0.2s ease-in; text-align:left; }
.select-styled:after{ content:""; width:0px; height:0px; border:5px solid transparent; border-color:#fff transparent transparent transparent; top:21px; position:absolute; right:4px; }
/*.select-styled:hover{ background-color:rgba(255,255,255,0.20); }*/
/*.select-styled:active, .select-styled.active{ background-color:rgba(255,255,255,0.20); }*/
.select-styled.active:after{ top:16px; border-color:transparent transparent #fff transparent; }
.select-options{ font-family:Avenir-Book; font-size:14px; line-height:12px; display:none; position:absolute; top:100%; right:0px; left:0; width: inherit; z-index:2; margin:0px; list-style:none; overflow:none; border-radius:6px; border:1px solid #fff; background-color:#572970; margin-top:8px; }
.select-options li{ margin:0px; padding:6px; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in; -webkit-transition:all 0.15s ease-in; transition:all 0.15s ease-in; text-align:center; }
.select-options li:hover{ color:#fff; background:rgba(255,255,255,0.20); }
.select-options li[rel="hide"]{ display:none; }
/*.select-options::-webkit-scrollbar{ width:12px; }*/
/*.select-options::-webkit-scrollbar-track{ -webkit-box-shadow:inset 0 0 6px rgba(255,255,255,0.30); color:#fff; border-radius:10px; }*/
/*.select-options::-webkit-scrollbar-thumb{ border-radius:10px; -webkit-box-shadow:inset 0 0 20px #fff; }*/
/* SELECT BANDEIRA */
.select-hidden-bandeira{ display:none; visibility:hidden; padding-right:10px; }
.select-bandeira{ cursor:pointer; display:flex; position:relative; font-size:18px; color:#fff; width:250px; height:50px; }
.select-styled-bandeira{ font-family:Avenir-Book; font-size:18px; position:absolute; top:0px; right:0px; bottom:0px; left:0px; background-color:rgba(255,255,255,0.10); padding:11px 15px;; border-radius:6px; border:1px solid #fff; -moz-transition:all 0.2s ease-in; -o-transition:all 0.2s ease-in; -webkit-transition:all 0.2s ease-in; transition:all 0.2s ease-in; text-align:left; }
.select-styled-bandeira:after{ content:""; width:0px; height:0px; border:5px solid transparent; border-color:#fff transparent transparent transparent; top:21px; position:absolute; right:4px; }
/*.select-styled:hover{ background-color:rgba(255,255,255,0.20); }*/
/*.select-styled:active, .select-styled.active{ background-color:rgba(255,255,255,0.20); }*/
.select-styled-bandeira.active:after{ top:16px; border-color:transparent transparent #fff transparent; }
.select-options-bandeira{ font-family:Avenir-Book; font-size:14px; line-height:12px; display:none; position:absolute; top:100%; right:0px; left:0; width: inherit; z-index:2; margin:0px; list-style:none; overflow:none; border-radius:6px; border:1px solid #fff; background-color:#572970; margin-top:8px; }
.select-options-bandeira li{ margin:0px; padding:6px; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in; -webkit-transition:all 0.15s ease-in; transition:all 0.15s ease-in; text-align:center; }
.select-options-bandeira li:hover{ color:#fff; background:rgba(255,255,255,0.20); }
.select-options-bandeira li[rel="hide"]{ display:none; }
/*.select-options::-webkit-scrollbar{ width:12px; }*/
/*.select-options::-webkit-scrollbar-track{ -webkit-box-shadow:inset 0 0 6px rgba(255,255,255,0.30); color:#fff; border-radius:10px; }*/
/*.select-options::-webkit-scrollbar-thumb{ border-radius:10px; -webkit-box-shadow:inset 0 0 20px #fff; }*/
.texto_input{
color: #FFFFFF;
font-family: Avenir-Book;
opacity: 0.7;
font-size: 10px;
position: absolute;
margin-top: -15px;
margin-left: 5px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-family: Avenir-Book;
font-size: 15px;
color: rgba(255,255,255,0.3);
line-height: 32px;
}
::-moz-placeholder { /* Firefox 19+ */
font-family: Avenir-Book;
font-size: 15px;
color: rgba(255,255,255,0.3);
line-height: 32px;
}
:-ms-input-placeholder { /* IE 10+ */
font-family: Avenir-Book;
font-size: 15px;
color: rgba(255,255,255,0.3);
line-height: 32px;
}
:-moz-placeholder { /* Firefox 18- */
font-family: Avenir-Book;
font-size: 15px;
color: rgba(255,255,255,0.3);
line-height: 32px;
}
.modal {
position: fixed; /* Stay in place */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto;
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
position: relative;
background-color: #441160;
margin: 15% auto auto auto;
padding: 20px;
border: 1px solid #FFFFFF;
width: 300px;
height: 350px;
border-radius: 10px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.botoes_navegacao {
color: #FFFFFF;
float: right;
font-size: 28px;
font-weight: bold;
opacity: 0.5;
}
.botoes_navegacao:hover,
.botoes_navegacao:focus {
color: #FFFFFF;
text-decoration: none;
opacity: 1;
}
.conteiner {
position: absolute;
height: 95%;
width: 100%;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
-webkit-justify-content: center;
justify-content: center;
flex-wrap: wrap;
margin-left: -50%;
}
.navegacao{
position: relative;
height: 30px;
width: 100%;
display: flex;
opacity: 0.5;
font-family: Avenir-Book;
font-size: 14px;
color: rgba(255,255,255,1);
-webkit-align-items: center;
align-items: center;
margin-left: 10px;
margin-right: 10px;
margin-top: -10px;
}
.titulo{
position: relative;
display: flex;
width: 90%;
align-items: flex-start;
justify-content: center;
text-align: center;
font-family: Avenir-Heavy;
font-size: 30px;
color: rgba(255,255,255,1);
line-height: 32px;
margin-top: -10px;
}
.descricao{
width: 100%;
height: 60px;
position: relative;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-family: Avenir-Book;
font-size: 14px;
color: rgba(255,255,255,0.7);
margin: 0px 20px 0px 20px;
}
.botoes {
/*height: 170px;*/
position: relative;
display: flex;
align-items: flex-end;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 20px;
}
.botao{
position: static;
background: rgba(255,255,255,0.30);
border: 1px solid #FFFFFF;
border-radius: 8px;
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
width: 250px;
height: 50px;
margin-bottom: 10px;
margin-left: 5px;
margin-right: 5px;
text-align: center;
}
.botao:hover,
.botao:focus,
.botao:active {
background: rgba(255,255,255,0.60);
}
.botoes_modalidades {
height: 320px;
position: relative;
display: flex;
align-items: flex-end;
flex-wrap: wrap;
justify-content: center;
}
.gratuito{
opacity: 0.75;
}
.gratuito:hover,
.gratuito:focus {
opacity: 1;
}
.premium{
opacity: 0.75;
}
.premium:hover,
.premium:focus {
opacity: 1;
}
.profissional{
opacity: 0.75;
}
.profissional:hover,
.profissional:focus {
opacity: 1;
}
.quadro-gratuito{
width: 90%;
height: 430px;
background: #FF5D85;
border: 1px solid #FFFFFF;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 15px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.quadro-premium{
width: 90%;
height: 555px;
background: #CC64E0;
border: 1px solid #FFFFFF;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 15px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.quadro-profissional{
width: 90%;
height: 820px;
background: #2AA6E4;
border: 1px solid #FFFFFF;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 15px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.icon{
width: 50px;
margin-left: -20px;
margin-top: 15px;
}
.texto{
width: 75%;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
margin-left: 10px;
margin-top: 20px;
}
.itens {
margin: 20px auto auto auto;
}
.preco {
width: 100%;
display: flex;
justify-content: center;
margin-bottom: 20px;
}
input#DDD{
width: 50px;
}
input#cel{
width: 190px;
}
input#email{
width: 253px;
}
input#cep{
width: 253px;
}
input#endereco{
width: 190px;
}
input#numero-casa{
width: 50px;
}
input#complemento{
width: 120px;
}
input#bairro{
width: 120px;
}
input#cidade{
width: 190px;
}
input#uf{
width: 50px;
}
input#cep-pagador{
width: 253px;
}
input#endereco-pagador{
width: 190px;
}
input#numero-casa-pagador{
width: 50px;
}
input#complemento-pagador{
width: 120px;
}
input#bairro-pagador{
width: 120px;
}
input#cidade-pagador{
width: 190px;
}
input#uf-pagador{
width: 50px;
}
input#Numero{
width: 250px;
}
input#Portador{
width: 250px;
}
input#Expiracao{
width: 75px;
}
input#CodigoSeguranca{
width: 75px;
margin-right: 35px;
}
input#cpf{
width: 250px;
}
input#cpf_titular{
width: 250px;
}
input#nome_completo{
width: 250px;
}
input#data_nascimento{
width: 250px;
}
input#cpf_titular_boleto{
width: 250px;
}
input#nome_completo_boleto{
width: 250px;
}
input#data_nascimento_boleto{
width: 250px;
}
input#DDD_boleto{
width: 50px;
}
input#cel_boleto{
width: 190px;
}
input#email_boleto{
width: 253px;
}
input#cep-pagador_boleto{
width: 253px;
}
input#endereco-pagador_boleto{
width: 190px;
}
input#numero-casa-pagador_boleto{
width: 50px;
}
input#complemento-pagador_boleto{
width: 120px;
}
input#bairro-pagador_boleto{
width: 120px;
}
input#cidade-pagador_boleto{
width: 190px;
}
input#uf-pagador_boleto{
width: 50px;
}
.texto_input#texto_input-parcelas{
margin-left: -25px;
}
.moip {
width: 100%;
display: flex;
justify-content: center;
margin-top: -25px;
}
.subtracao {
width: 90%;
height: 190px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-left: -26px;
margin-bottom: 20px;
margin-top: -10px;
}
.utilizando{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-bottom: -10px;
}
.valor {
width: 170px;
height: 75px;
padding: 10px;
border-radius: 10px;
border: 1px solid #FFFFFF;
margin: 10px auto 0px auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.valor-cadastro{
}
.menos {
margin: 87px auto auto auto;
}
.igual{
margin: 60px auto auto auto;
}
.aviso {
width: 280px;
display: flex;
flex-wrap: nowrap;
justify-content: center;
margin: 10px auto 20px 20px;
}
.declaro{
width: 220px;
opacity: 0.7;
}
.requerido{
display: none;
position: absolute;
margin: -32px -28px;
}
.botao_saldo{
display: none;
}
.content__jobs{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.scroll_up{
opacity: 0.6;
}
.scroll_up:hover,
.scroll_up:focus,
.scroll_up:active {
opacity: 0.9;
}
.footer__section{
margin-top: 50px;
}
.descricao_validade-novo-cadastro{
width: 250px;
height: 60px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin: 20px 20px -10px 20px;
border: 1px solid #FFFFFF;
border-radius: 8px;
}
@media only screen and (max-width: 415px) {
.modal-content {
width: 90%;
}
.icon{
width: 60px;
margin-left: -30px;
}
.aviso {
width: 95%;
}
.declaro{
width: 250px;
}
}
@media only screen and (min-width: 1024px) {
.inicio_login {
position: fixed;
}
.modal-content {
width: 500px;
margin: 2% auto auto auto;
}
.icon{
width: 80px;
margin-left: -60px;
}
.aviso {
width: 95%;
}
.declaro{
width: 300px;
}
.descricao {
width: 330px;
}
}

