// GERAL
.gradient 
  position: fixed 
  top: 0 
  left: 0 
  bottom: 0 
  display: block
  width: 100%
  padding: 0px
  margin: 0px 

.button
  background: $background
  border: $border
  border-radius: $border-radius
  opacity: 0.89
  &:hover, &:active
    background: $background-hover

.button-medium
  width: 250px
  height: 50px

.button-small
  width: 120px
  height: 50px

.container-outline__content
  height: 100vh
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  -webkit-flex-direction: column
  -moz-flex-direction: column
  -ms-flex-direction: column
  -o-flex-direction: column
  flex-direction: column

.middle
  -webkit-flex: 1
  -moz-flex: 1
  -ms-flex: 1
  -o-flex: 1
  flex: 1
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  margin: 10px 0
  overflow-y: auto
  overflow-x: hidden


// MENU Trigger
.topbar
  background: transparent
  color: $color-primary
  height: 50px
  width: 100%
  user-select: none

.menu-button
  display: inline-block
  height: 100%
  width: 30px
  text-align: left
  line-height: 5
  position: absolute
  left: 0%

.fullscreen-menu
  position: fixed
  top: 55px
  bottom: 0
  left: 0
  right: 0
  z-index: -1
  user-select: none
  a
    color: $color-primary
  .mask
    background-color: #441160
    opacity: 0
    height: 100%
    width: 100%
    position: absolute
    text-align: center
    color: $color-primary
  &.show
    z-index: 2
    .mask
      opacity: 1
  ul
    width: 100%
    list-style: none
    li
      font-size: 1.250em
      margin-top: 30px
      opacity: 0.5
      transform: translateY(100%)
      color: $color-primary

.logo
  line-height: 5

.arrow-up::after
  content: '\25b2'
  position: absolute
  top: -5%
  left: 0.5%
  color: #441160
  @media only screen and (max-width: 767px)
    left: 2%

// MENU Trigger
.arrow-down::after
  content: '\25bc'
  position: absolute
  bottom: -2.5%
  left: 0.5%
  color: #441160
  @media only screen and (max-width: 767px)
    left: 2%

.bottombar
  background: transparent
  color: $color-primary
  height: 50px
  width: 100%
  user-select: none

.menu-search
  display: inline-block
  height: 100%
  width: 30px
  text-align: left
  line-height: 5
  position: absolute
  left: 0%

.fullscreen-menu-search
  position: fixed
  top: 0
  bottom: 55px
  left: 0
  right: 0
  z-index: -1
  user-select: none
  a
    color: $color-primary
  .mask-search
    background-color: #441160
    opacity: 0
    height: 100%
    width: 100%
    position: absolute
    text-align: center
    color: $color-primary
  &.showSearch
    z-index: 2
    .mask-search
      opacity: 1
  ul
    width: 100%
    list-style: none
    li
      font-size: 1.250em
      margin-bottom: 30px
      opacity: 0.5
      transform: translateY(100%)
      color: $color-primary


.search
  width: 160px
  margin: 0
  padding: 0
  list-style: none
  p, img
    float: left
  p
    margin-top: -25px
    margin-left: 5px

ul.tabs
  margin: 0
  padding: 0
  float: right
  list-style: none
  li
    float: right
    margin: 0
    cursor: pointer
    padding: 0px 5px
    height: 31px
    line-height: 31px
    overflow: hidden
    position: relative

.tab_last

ul.tabs li
  &:hover

  &.active
    display: block

#perfil-name
  float: left
  display: none
  font-size: 1.5em

// TABS
.tab_container
  border-top: none
  clear: both
  float: left
  width: 300px

.tab_content
  padding: 5px
  display: none

.tab__content
  &:after
    content: ""
    clear: both
    display: table
  padding: 10px 0 10px 15px

.tab__box
  float: left
  width: 95px
  height: 95px
  margin: 0 1px 1px 0
  background-color: #CCCCCC
  -webkit-transition: all 1.0s ease
  -moz-transition: all 1.0s ease
  transition: all 1.0s ease
  transition: all 1.0s ease
  img
    width: 95px
    height: 95px  

.tab_drawer_heading
  display: none

.tab__box-nine

.tab__box-four
  width: 142px
  height: 142px
  img
    width: 142px
    height: 142px

.tab__box-one
  width: 100%
  height: 280px
  img
    width: 100%
    height: 280px


//Scrollbar
.jspContainer
  overflow: hidden
  position: relative

.jspPane
  position: absolute

.jspVerticalBar
  position: absolute
  top: 0
  right: 4px
  width: 7px
  height: 100%
  background: rgba(255,255,255,0.60)

.jspDrag 
  position: relative
  width: 7px
  right: 0
  background: rgba(255,255,255,0.60)
  border-radius: 100px
  top: 0
  left: 0
  cursor: pointer

.jspTrack 
  width: 5px
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  background: rgba(255,255,255,0.50)
  border-radius: 100px


// FOOTER
.footer
  width: 100%
  height: 45px

