// VARIÁVEIS
$breakpoint-small: 768px

// GERAL
body 
  background: #ECC561
  text-align: center
  font-size: 1em

h1 
  color: rgba(0,0,0,0.5)
  font-size: 1.8em
  font-weight: 400
  margin-top: 20px
h4
  font-family: Avenir-Book
  font-size: 24px
  color: #FFFFFF

.btn
  background:rgba(215,215,215,0.1)
  font-size: 1.8em
  margin-top: 50px
// MODAL
.modal-content
  background: #BD10E0

